### Analysis of data reported from HPC grid search of hyperparameters

Tasks:
    1. obtain table for the master report for drug-by-drug learning
    2. figure out the  best models for each coefficient
    3. save the best hyperparameters for best models for each coefficients

In [1]:
import pandas as pd
import numpy as np
import os

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

_FOLDER = "GridSearch_results/"
_FOLDER_2 = "results/"

In [2]:
model_names =['lasso',
        'ridge',
    'Linear_KernelRidge',
    'Sigmoid_KernelRidge',
    'RBF_KernelRidge',
    'PolynomialKernelRidge',
    'Linear_SVR',
    'Sigmoid_SVR',
    'RBF_SVR',
    "Polynomial_SVR"]

### 1. Table for report

In [3]:
df_results_mae = pd.DataFrame(index=model_names, columns =["coef_"+str(i) for i in range(1,5)])

for model in model_names:
    for i in range(1,5):
        df = pd.read_csv(_FOLDER+ model+"_coef"+str(i)+".csv")
        if i!=3 :
            df_results_mae.loc[model, "coef_"+str(i)] = str(round(df["mae_3"].mean(), 3)) + " / " + str(round(df["mae_3"].std(),3))
        else:
            df_results_mae.loc[model, "coef_"+str(i)] = str(round(df["mae_3"].mean(), 2)) + " / " + str(round(df["mae_2"].std(),2))

df_results_mae.to_csv("results_drug_by_drug.csv")

### 2. Best models for the coefficients

In [4]:
df_results = pd.DataFrame(index=model_names, columns =["coef_"+str(i) for i in range(1,5)])
for model in model_names:
    for i in range(1,5):
        df = pd.read_csv(_FOLDER+ model+"_coef"+str(i)+".csv")
        df_results.loc[model, "coef_"+str(i)] = df["mae_3"].mean()
df_results

                         coef_1    coef_2   coef_3     coef_4
lasso                  0.341283  0.391105  11.1317  0.0779428
ridge                  0.374303  0.410487  10.8322  0.0821313
Linear_KernelRidge     0.358402  0.677494  12.2731  0.0759723
Sigmoid_KernelRidge     0.25027  0.390815  9.84057  0.0787291
RBF_KernelRidge        0.245373  0.377003  9.68135  0.0746973
PolynomialKernelRidge  0.236148  0.376241  9.75768  0.0758253
Linear_SVR             0.241344  0.280438  9.42036  0.0846662
Sigmoid_SVR            0.241714  0.275298  9.50708  0.0840374
RBF_SVR                0.237239  0.271848  9.50916  0.0754618
Polynomial_SVR         0.239229  0.273368  9.58911  0.0782375

In [5]:
best_models = {}
for i in range(1,5):
    best_models["coef_" + str(i)] = list(df_results[df_results["coef_"+str(i)] == df_results["coef_"+str(i)].min()].index)
    print("coef_" + str(i) +":", list(df_results[df_results["coef_"+str(i)] == df_results["coef_"+str(i)].min()].index))

coef_1: ['PolynomialKernelRidge']
coef_2: ['RBF_SVR']
coef_3: ['Linear_SVR']
coef_4: ['RBF_KernelRidge']

### 3. Hyperparameters for the best model

In [6]:
best_models

{'coef_1': ['PolynomialKernelRidge'],
 'coef_2': ['RBF_SVR'],
 'coef_3': ['Linear_SVR'],
 'coef_4': ['RBF_KernelRidge']}

In [7]:
parameters_to_use = {
    'lasso' : ["best_alpha3"],
    'ridge' : ["best_alpha3", "best_solver3"],
    'Linear_KernelRidge' : ["best_alpha3"],
    'Sigmoid_KernelRidge': ['best_alpha3', 'best_gamma3', 'best_coef03'],
    'RBF_KernelRidge': ['best_alpha3', 'best_gamma3', 'best_coef03'],
    'PolynomialKernelRidge' : ['best_alpha3', 'best_gamma3', 'best_coef03', 'best_degree3'],
    'Linear_SVR' : ['best_C3', 'best_epsilon3'],
    'Sigmoid_SVR' : ['best_C3', 'best_epsilon3', 'best_coef03'],
    'RBF_SVR':['best_C3', 'best_epsilon3', 'best_coef03'],
    "Polynomial_SVR": ['best_C3', 'best_epsilon3', 'best_coef03', 'best_degree3']
}

In [8]:
i=1
model = best_models["coef_"+str(i)][0] 
print("Coefficient", i, ":", model)
df = pd.read_csv(_FOLDER+ model+"_coef"+str(i)+".csv").rename(columns={"Unnamed: 0": "DRUG_ID"})
best = df[['DRUG_ID']+parameters_to_use[model]]
best.to_csv(_FOLDER_2 +"best_model_coef_" +str(i)+ ".csv")
best

Coefficient 1 : PolynomialKernelRidge

    DRUG_ID  best_alpha3  best_gamma3  best_coef03  best_degree3
0       170        100.0      0.10000          5.0           1.0
1       173        100.0      0.01000          5.0           3.0
2       180        100.0      0.00001          0.5           1.0
3       200        100.0      0.00001          5.0           1.0
4       219         10.0      0.00001          0.5           2.0
5       272        500.0      0.00010          5.0           2.0
6       273          0.5      0.01000          1.0           1.0
7       274          1.0      0.00001          0.5           5.0
8       276          1.0      0.00001          5.0           5.0
9       328          5.0      0.00010          0.5           3.0
10      346          1.0      0.01000          0.5           1.0

In [9]:
i=2
model = best_models["coef_"+str(i)][0] 
print("Coefficient", i, ":", model)
df = pd.read_csv(_FOLDER+ model+"_coef"+str(i)+".csv").rename(columns={"Unnamed: 0": "DRUG_ID"})
best = df[['DRUG_ID']+parameters_to_use[model]]
best.to_csv(_FOLDER_2+"best_model_coef_" +str(i)+ ".csv")
best

Coefficient 2 : RBF_SVR

    DRUG_ID  best_C3  best_epsilon3  best_coef03
0       170      0.1          0.010         0.01
1       173      0.1          0.001         0.01
2       180      0.1          0.010         0.01
3       200      0.1          0.010         0.01
4       219      0.5          0.010         0.01
5       272      0.1          0.001         0.01
6       273      0.1          0.001         0.01
7       274      0.1          0.010         0.01
8       276      0.1          0.010         0.01
9       328      0.1          0.001         0.01
10      346      0.1          0.001         0.01

In [10]:
i=3
model = best_models["coef_"+str(i)][0] 
print("Coefficient", i, ":", model)
df = pd.read_csv(_FOLDER+ model+"_coef"+str(i)+".csv").rename(columns={"Unnamed: 0": "DRUG_ID"})
best = df[['DRUG_ID']+parameters_to_use[model]]
best.to_csv(_FOLDER_2+"best_model_coef_" +str(i)+ ".csv")
best

Coefficient 3 : Linear_SVR

    DRUG_ID  best_C3  best_epsilon3
0       170     0.10          5.000
1       173     0.10          0.001
2       180     5.00          5.000
3       200     0.01          0.100
4       219     0.10          1.000
5       272     0.01          2.000
6       273     0.01          2.000
7       274     0.10          0.100
8       276     0.01          1.000
9       328     0.01          2.000
10      346     0.01          0.001

In [11]:
i=4
model = best_models["coef_"+str(i)][0] 
print("Coefficient", i, ":", model)
df = pd.read_csv(_FOLDER+ model+"_coef"+str(i)+".csv").rename(columns={"Unnamed: 0": "DRUG_ID"})
best = df[['DRUG_ID']+parameters_to_use[model]]
best.to_csv(_FOLDER_2+"best_model_coef_" +str(i)+ ".csv")
best

Coefficient 4 : RBF_KernelRidge

    DRUG_ID  best_alpha3  best_gamma3  best_coef03
0       170         50.0      0.00001         0.01
1       173          0.1      1.00000         0.01
2       180         10.0      0.00010         0.01
3       200          0.1      0.00010         0.01
4       219          5.0      0.00001         0.01
5       272         10.0      0.00001         0.01
6       273         50.0      0.01000         0.01
7       274        100.0      0.00001         0.01
8       276         50.0      0.00001         0.01
9       328          0.1      0.00010         0.01
10      346         10.0      0.00001         0.01

### Additional : Checking hyperparameters amond datasets

In [12]:
i=1
for model in model_names:
    print(model)
    df = pd.read_csv(_FOLDER+ model+"_coef"+str(i)+".csv").rename(columns={"Unnamed: 0": "DRUG_ID"}) 
    display(df)
    print("MAE among datasets:")
    display(round(df[["mae_"+str(i) for i in range(4)]], 4))
    print("Coefficient", i, ":", model, round(df["mae_3"].mean(), 3), "+/-", round(df["mae_3"].std(),3))
    print("--------------------------------\n")

lasso

,DRUG_ID,best_alpha0,mae_0,mse_0,intercept_0,sum_coef_0,best_alpha1,mae_1,mse_1,intercept_1,...,best_alpha2,mae_2,mse_2,intercept_2,sum_coef_2,best_alpha3,mae_3,mse_3,intercept_3,sum_coef_3
0,170,0.50,0.124879,0.022347,0.580835,0.000000,0.50,0.124879,0.022347,0.580835,...,0.50,0.124879,0.022347,0.580835,0.000000,0.50,0.124879,0.022347,0.580835,0.000000
1,173,0.10,0.135350,0.050504,0.614222,0.000000,0.10,0.135350,0.050504,0.614222,...,0.10,0.135350,0.050504,0.614222,0.000000,0.10,0.135350,0.050504,0.614222,0.000000
2,180,1.00,2.502282,18.146173,1.571673,0.000000,1.00,2.502282,18.146173,1.571673,...,1.00,2.502282,18.146173,1.571673,0.000000,1.00,2.502282,18.146173,1.571673,0.000000
3,200,0.01,0.122048,0.019527,0.472703,8.319665,0.01,0.122048,0.019527,0.472703,...,0.01,0.122048,0.019527,0.472703,8.319665,0.01,0.122048,0.019527,0.472703,8.319665
4,219,0.50,0.192086,0.044297,0.669953,0.000000,0.50,0.192086,0.044297,0.669953,...,0.50,0.192086,0.044297,0.669953,0.000000,0.50,0.192086,0.044297,0.669953,0.000000
5,272,0.50,0.159842,0.034059,0.664511,0.000000,0.50,0.159842,0.034059,0.664511,...,0.50,0.159842,0.034059,0.664511,0.000000,0.50,0.159842,0.034059,0.664511,0.000000
6,273,0.01,0.062783,0.005959,0.588298,0.020031,0.01,0.062783,0.005959,0.588298,...,0.01,0.062783,0.005959,0.588298,0.020031,0.01,0.062783,0.005959,0.588298,0.020031
7,274,0.50,0.184657,0.040335,0.604637,0.000000,0.50,0.184657,0.040335,0.604637,...,0.50,0.184657,0.040335,0.604637,0.000000,0.50,0.184657,0.040335,0.604637,0.000000
8,276,0.10,0.122949,0.019273,0.528040,0.000000,0.10,0.122949,0.019273,0.528040,...,0.10,0.122949,0.019273,0.528040,0.000000,0.10,0.122949,0.019273,0.528040,0.000000
9,328,0.01,0.069049,0.007266,0.349147,11.251302,0.01,0.069049,0.007266,0.349147,...,0.01,0.069049,0.007266,0.349147,11.251302,0.01,0.069049,0.007266,0.349147,11.251302
10,346,0.10,0.078186,0.010333,0.361846,0.000000,0.10,0.078186,0.010333,0.361846,...,0.10,0.078186,0.010333,0.361846,0.000000,0.10,0.078186,0.010333,0.361846,0.000000

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.1249  0.1249  0.1249  0.1249
1   0.1354  0.1354  0.1354  0.1354
2   2.5023  2.5023  2.5023  2.5023
3   0.1220  0.1220  0.1220  0.1220
4   0.1921  0.1921  0.1921  0.1921
5   0.1598  0.1598  0.1598  0.1598
6   0.0628  0.0628  0.0628  0.0628
7   0.1847  0.1847  0.1847  0.1847
8   0.1229  0.1229  0.1229  0.1229
9   0.0690  0.0690  0.0690  0.0690
10  0.0782  0.0782  0.0782  0.0782

Coefficient 1 : lasso 0.341 +/- 0.718
--------------------------------

ridge

,DRUG_ID,best_alpha0,best_solver0,mae_0,mse_0,intercept_0,sum_coef_0,best_alpha1,best_solver1,mae_1,...,mae_2,mse_2,intercept_2,sum_coef_2,best_alpha3,best_solver3,mae_3,mse_3,intercept_3,sum_coef_3
0,170,1000.0,lsqr,0.141568,0.027782,0.584343,0.266807,1000.0,lsqr,0.141568,...,0.141568,0.027782,0.584343,0.266807,1000.0,lsqr,0.141568,0.027782,0.584343,0.266807
1,173,300.0,auto,0.128405,0.048998,0.645099,-0.273308,300.0,auto,0.128405,...,0.128405,0.048998,0.645099,-0.273308,300.0,auto,0.128405,0.048998,0.645099,-0.273308
2,180,50.0,sparse_cg,2.744910,18.054917,1.706601,1.730895,50.0,sparse_cg,2.744910,...,2.744910,18.054917,1.706601,1.730895,50.0,sparse_cg,2.744910,18.054917,1.706601,1.730895
3,200,1000.0,auto,0.174172,0.043735,0.565967,-0.030905,1000.0,auto,0.174172,...,0.174172,0.043735,0.565967,-0.030905,1000.0,auto,0.174172,0.043735,0.565967,-0.030905
4,219,1000.0,sparse_cg,0.190101,0.045382,0.682900,-0.323267,1000.0,sparse_cg,0.190101,...,0.190101,0.045382,0.682900,-0.323267,1000.0,sparse_cg,0.190101,0.045382,0.682900,-0.323267
5,272,1000.0,lsqr,0.166525,0.037034,0.671054,-0.190888,1000.0,lsqr,0.166525,...,0.166525,0.037034,0.671054,-0.190888,1000.0,lsqr,0.166525,0.037034,0.671054,-0.190888
6,273,50.0,lsqr,0.064579,0.006264,0.591216,0.015721,50.0,lsqr,0.064579,...,0.064579,0.006264,0.591216,0.015721,50.0,lsqr,0.064579,0.006264,0.591216,0.015721
7,274,1000.0,lsqr,0.199213,0.056016,0.603484,0.065851,1000.0,lsqr,0.199213,...,0.199213,0.056016,0.603484,0.065851,1000.0,lsqr,0.199213,0.056016,0.603484,0.065851
8,276,50.0,auto,0.112288,0.016542,0.547743,0.048368,50.0,auto,0.112288,...,0.112288,0.016542,0.547743,0.048368,50.0,auto,0.112288,0.016542,0.547743,0.048368
9,328,1000.0,lsqr,0.120301,0.020007,0.482663,-0.038820,1000.0,lsqr,0.120301,...,0.120301,0.020007,0.482663,-0.038820,1000.0,lsqr,0.120301,0.020007,0.482663,-0.038820
10,346,300.0,svd,0.075273,0.009777,0.357369,0.030250,300.0,auto,0.075273,...,0.075273,0.009777,0.357369,0.030250,300.0,auto,0.075273,0.009777,0.357369,0.030250

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.1416  0.1416  0.1416  0.1416
1   0.1284  0.1284  0.1284  0.1284
2   2.7449  2.7449  2.7449  2.7449
3   0.1742  0.1742  0.1742  0.1742
4   0.1901  0.1901  0.1901  0.1901
5   0.1665  0.1665  0.1665  0.1665
6   0.0646  0.0646  0.0646  0.0646
7   0.1992  0.1992  0.1992  0.1992
8   0.1123  0.1123  0.1123  0.1123
9   0.1203  0.1203  0.1203  0.1203
10  0.0753  0.0753  0.0753  0.0753

Coefficient 1 : ridge 0.374 +/- 0.787
--------------------------------

Linear_KernelRidge

,DRUG_ID,best_alpha0,mae_0,mse_0,best_alpha1,mae_1,mse_1,best_alpha2,mae_2,mse_2,best_alpha3,mae_3,mse_3
0,170,100.0,0.236246,0.119366,100.0,0.236246,0.119366,100.0,0.236246,0.119366,100.0,0.236246,0.119366
1,173,10.0,0.217983,0.072607,10.0,0.217983,0.072607,10.0,0.217983,0.072607,10.0,0.217983,0.072607
2,180,500.0,1.887687,19.839476,500.0,1.887687,19.839476,500.0,1.887687,19.839476,500.0,1.887687,19.839476
3,200,500.0,0.257574,0.103651,500.0,0.257574,0.103651,500.0,0.257574,0.103651,500.0,0.257574,0.103651
4,219,500.0,0.228851,0.077083,500.0,0.228851,0.077083,500.0,0.228851,0.077083,500.0,0.228851,0.077083
5,272,100.0,0.217149,0.074569,100.0,0.217149,0.074569,100.0,0.217149,0.074569,100.0,0.217149,0.074569
6,273,10.0,0.174923,0.042010,10.0,0.174923,0.042010,10.0,0.174923,0.042010,10.0,0.174923,0.042010
7,274,500.0,0.240191,0.085129,500.0,0.240191,0.085129,500.0,0.240191,0.085129,500.0,0.240191,0.085129
8,276,5.0,0.190198,0.053873,5.0,0.190198,0.053873,5.0,0.190198,0.053873,5.0,0.190198,0.053873
9,328,500.0,0.176184,0.041048,500.0,0.176184,0.041048,500.0,0.176184,0.041048,500.0,0.176184,0.041048
10,346,10.0,0.115433,0.030307,10.0,0.115433,0.030307,10.0,0.115433,0.030307,10.0,0.115433,0.030307

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.2362  0.2362  0.2362  0.2362
1   0.2180  0.2180  0.2180  0.2180
2   1.8877  1.8877  1.8877  1.8877
3   0.2576  0.2576  0.2576  0.2576
4   0.2289  0.2289  0.2289  0.2289
5   0.2171  0.2171  0.2171  0.2171
6   0.1749  0.1749  0.1749  0.1749
7   0.2402  0.2402  0.2402  0.2402
8   0.1902  0.1902  0.1902  0.1902
9   0.1762  0.1762  0.1762  0.1762
10  0.1154  0.1154  0.1154  0.1154

Coefficient 1 : Linear_KernelRidge 0.358 +/- 0.509
--------------------------------

Sigmoid_KernelRidge

,DRUG_ID,best_alpha0,best_gamma0,best_coef00,mae_0,mse_0,best_alpha1,best_gamma1,best_coef01,mae_1,...,best_alpha2,best_gamma2,best_coef02,mae_2,mse_2,best_alpha3,best_gamma3,best_coef03,mae_3,mse_3
0,170,10.0,0.01000,0.50,0.104162,0.016628,10.0,0.01000,0.50,0.104162,...,10.0,0.01000,0.50,0.104162,0.016628,10.0,0.01000,0.50,0.104162,0.016628
1,173,0.1,0.00010,0.10,0.131499,0.051552,0.1,0.00010,0.10,0.131499,...,0.1,0.00010,0.10,0.131499,0.051552,0.1,0.00010,0.10,0.131499,0.051552
2,180,100.0,0.00001,0.50,1.694518,20.681589,100.0,0.00001,0.50,1.694518,...,100.0,0.00001,0.50,1.694518,20.681589,100.0,0.00001,0.50,1.694518,20.681589
3,200,10.0,0.00010,0.50,0.123445,0.019958,10.0,0.00010,0.50,0.123445,...,10.0,0.00010,0.50,0.123445,0.019958,10.0,0.00010,0.50,0.123445,0.019958
4,219,50.0,1.00000,5.00,0.101783,0.019142,50.0,1.00000,5.00,0.101783,...,50.0,1.00000,5.00,0.101783,0.019142,50.0,1.00000,5.00,0.101783,0.019142
5,272,10.0,0.00001,0.50,0.081182,0.009850,10.0,0.00001,0.50,0.081182,...,10.0,0.00001,0.50,0.081182,0.009850,10.0,0.00001,0.50,0.081182,0.009850
6,273,0.1,0.01000,1.00,0.067478,0.006775,0.1,0.01000,1.00,0.067478,...,0.1,0.01000,1.00,0.067478,0.006775,0.1,0.01000,1.00,0.067478,0.006775
7,274,10.0,0.00001,0.50,0.082835,0.011496,10.0,0.00001,0.50,0.082835,...,10.0,0.00001,0.50,0.082835,0.011496,10.0,0.00001,0.50,0.082835,0.011496
8,276,0.1,0.01000,1.00,0.109228,0.016259,0.1,0.01000,1.00,0.109228,...,0.1,0.01000,1.00,0.109228,0.016259,0.1,0.01000,1.00,0.109228,0.016259
9,328,0.5,0.00010,0.01,0.073627,0.009411,0.5,0.00010,0.01,0.073627,...,0.5,0.00010,0.01,0.073627,0.009411,0.5,0.00010,0.01,0.073627,0.009411
10,346,0.5,1.00000,1.00,0.183209,0.044092,0.5,1.00000,1.00,0.183209,...,0.5,1.00000,1.00,0.183209,0.044092,0.5,1.00000,1.00,0.183209,0.044092

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.1042  0.1042  0.1042  0.1042
1   0.1315  0.1315  0.1315  0.1315
2   1.6945  1.6945  1.6945  1.6945
3   0.1234  0.1234  0.1234  0.1234
4   0.1018  0.1018  0.1018  0.1018
5   0.0812  0.0812  0.0812  0.0812
6   0.0675  0.0675  0.0675  0.0675
7   0.0828  0.0828  0.0828  0.0828
8   0.1092  0.1092  0.1092  0.1092
9   0.0736  0.0736  0.0736  0.0736
10  0.1832  0.1832  0.1832  0.1832

Coefficient 1 : Sigmoid_KernelRidge 0.25 +/- 0.48
--------------------------------

RBF_KernelRidge

,DRUG_ID,best_alpha0,best_gamma0,best_coef00,mae_0,mse_0,best_alpha1,best_gamma1,best_coef01,mae_1,...,best_alpha2,best_gamma2,best_coef02,mae_2,mse_2,best_alpha3,best_gamma3,best_coef03,mae_3,mse_3
0,170,10.0,0.00010,0.01,0.099923,0.014960,10.0,0.00010,0.01,0.099923,...,10.0,0.00010,0.01,0.099923,0.014960,10.0,0.00010,0.01,0.099923,0.014960
1,173,0.5,0.00010,0.01,0.133796,0.050979,0.5,0.00010,0.01,0.133796,...,0.5,0.00010,0.01,0.133796,0.050979,0.5,0.00010,0.01,0.133796,0.050979
2,180,100.0,0.01000,0.01,1.708834,20.736523,100.0,0.01000,0.01,1.708834,...,100.0,0.01000,0.01,1.708834,20.736523,100.0,0.01000,0.01,1.708834,20.736523
3,200,10.0,0.00010,0.01,0.131573,0.024854,10.0,0.00010,0.01,0.131573,...,10.0,0.00010,0.01,0.131573,0.024854,10.0,0.00010,0.01,0.131573,0.024854
4,219,50.0,0.00001,0.01,0.101853,0.019163,50.0,0.00001,0.01,0.101853,...,50.0,0.00001,0.01,0.101853,0.019163,50.0,0.00001,0.01,0.101853,0.019163
5,272,10.0,0.00010,0.01,0.106519,0.016969,10.0,0.00010,0.01,0.106519,...,10.0,0.00010,0.01,0.106519,0.016969,10.0,0.00010,0.01,0.106519,0.016969
6,273,0.1,0.00010,0.01,0.060784,0.005777,0.1,0.00010,0.01,0.060784,...,0.1,0.00010,0.01,0.060784,0.005777,0.1,0.00010,0.01,0.060784,0.005777
7,274,50.0,0.00001,0.01,0.085795,0.012387,50.0,0.00001,0.01,0.085795,...,50.0,0.00001,0.01,0.085795,0.012387,50.0,0.00001,0.01,0.085795,0.012387
8,276,0.1,0.00010,0.01,0.119794,0.018468,0.1,0.00010,0.01,0.119794,...,0.1,0.00010,0.01,0.119794,0.018468,0.1,0.00010,0.01,0.119794,0.018468
9,328,50.0,0.00001,0.01,0.074289,0.010041,50.0,0.00001,0.01,0.074289,...,50.0,0.00001,0.01,0.074289,0.010041,50.0,0.00001,0.01,0.074289,0.010041
10,346,0.1,0.00010,0.01,0.075945,0.009940,0.1,0.00010,0.01,0.075945,...,0.1,0.00010,0.01,0.075945,0.009940,0.1,0.00010,0.01,0.075945,0.009940

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.0999  0.0999  0.0999  0.0999
1   0.1338  0.1338  0.1338  0.1338
2   1.7088  1.7088  1.7088  1.7088
3   0.1316  0.1316  0.1316  0.1316
4   0.1019  0.1019  0.1019  0.1019
5   0.1065  0.1065  0.1065  0.1065
6   0.0608  0.0608  0.0608  0.0608
7   0.0858  0.0858  0.0858  0.0858
8   0.1198  0.1198  0.1198  0.1198
9   0.0743  0.0743  0.0743  0.0743
10  0.0759  0.0759  0.0759  0.0759

Coefficient 1 : RBF_KernelRidge 0.245 +/- 0.486
--------------------------------

PolynomialKernelRidge

,DRUG_ID,best_alpha0,best_gamma0,best_coef00,best_degree0,mae_0,mse_0,best_alpha1,best_gamma1,best_coef01,...,best_coef02,best_degree2,mae_2,mse_2,best_alpha3,best_gamma3,best_coef03,best_degree3,mae_3,mse_3
0,170,100.0,0.10000,5.0,1.0,0.110442,0.018205,100.0,0.10000,5.0,...,5.0,1.0,0.110442,0.018205,100.0,0.10000,5.0,1.0,0.110442,0.018205
1,173,100.0,0.01000,5.0,3.0,0.121640,0.048841,100.0,0.01000,5.0,...,5.0,3.0,0.121640,0.048841,100.0,0.01000,5.0,3.0,0.121640,0.048841
2,180,100.0,0.00001,0.5,1.0,1.690367,20.613394,100.0,0.00001,0.5,...,0.5,1.0,1.690367,20.613394,100.0,0.00001,0.5,1.0,1.690367,20.613394
3,200,100.0,0.00001,5.0,1.0,0.123297,0.020051,100.0,0.00001,5.0,...,5.0,1.0,0.123297,0.020051,100.0,0.00001,5.0,1.0,0.123297,0.020051
4,219,10.0,0.00001,0.5,2.0,0.079937,0.013438,10.0,0.00001,0.5,...,0.5,2.0,0.079937,0.013438,10.0,0.00001,0.5,2.0,0.079937,0.013438
5,272,500.0,0.00010,5.0,2.0,0.083451,0.010292,500.0,0.00010,5.0,...,5.0,2.0,0.083451,0.010292,500.0,0.00010,5.0,2.0,0.083451,0.010292
6,273,0.5,0.01000,1.0,1.0,0.064104,0.006084,0.5,0.01000,1.0,...,1.0,1.0,0.064104,0.006084,0.5,0.01000,1.0,1.0,0.064104,0.006084
7,274,1.0,0.00001,0.5,5.0,0.071241,0.009244,1.0,0.00001,0.5,...,0.5,5.0,0.071241,0.009244,1.0,0.00001,0.5,5.0,0.071241,0.009244
8,276,1.0,0.00001,5.0,5.0,0.110764,0.016181,1.0,0.00001,5.0,...,5.0,5.0,0.110764,0.016181,1.0,0.00001,5.0,5.0,0.110764,0.016181
9,328,5.0,0.00010,0.5,3.0,0.069649,0.008224,5.0,0.00010,0.5,...,0.5,3.0,0.069649,0.008224,5.0,0.00010,0.5,3.0,0.069649,0.008224
10,346,1.0,0.01000,0.5,1.0,0.072738,0.010382,1.0,0.01000,0.5,...,0.5,1.0,0.072738,0.010382,1.0,0.01000,0.5,1.0,0.072738,0.010382

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.1104  0.1104  0.1104  0.1104
1   0.1216  0.1216  0.1216  0.1216
2   1.6904  1.6904  1.6904  1.6904
3   0.1233  0.1233  0.1233  0.1233
4   0.0799  0.0799  0.0799  0.0799
5   0.0835  0.0835  0.0835  0.0835
6   0.0641  0.0641  0.0641  0.0641
7   0.0712  0.0712  0.0712  0.0712
8   0.1108  0.1108  0.1108  0.1108
9   0.0696  0.0696  0.0696  0.0696
10  0.0727  0.0727  0.0727  0.0727

Coefficient 1 : PolynomialKernelRidge 0.236 +/- 0.483
--------------------------------

Linear_SVR

,DRUG_ID,best_C0,best_epsilon0,mae_0,mse_0,best_C1,best_epsilon1,mae_1,mse_1,best_C2,best_epsilon2,mae_2,mse_2,best_C3,best_epsilon3,mae_3,mse_3
0,170,0.01,0.100,0.108257,0.017248,0.01,0.100,0.108257,0.017248,0.01,0.100,0.108257,0.017248,0.01,0.100,0.108257,0.017248
1,173,0.01,0.001,0.145500,0.055102,0.01,0.001,0.145500,0.055102,0.01,0.001,0.145500,0.055102,0.01,0.001,0.145500,0.055102
2,180,0.01,0.001,1.712732,20.559289,0.01,0.001,1.712732,20.559289,0.01,0.001,1.712732,20.559289,0.01,0.001,1.712732,20.559289
3,200,0.01,0.001,0.129845,0.022028,0.01,0.001,0.129845,0.022028,0.01,0.001,0.129845,0.022028,0.01,0.001,0.129845,0.022028
4,219,0.01,0.100,0.078521,0.011008,0.01,0.100,0.078521,0.011008,0.01,0.100,0.078521,0.011008,0.01,0.100,0.078521,0.011008
5,272,0.01,0.100,0.082246,0.010587,0.01,0.100,0.082246,0.010587,0.01,0.100,0.082246,0.010587,0.01,0.100,0.082246,0.010587
6,273,0.01,0.010,0.075160,0.008280,0.01,0.010,0.075160,0.008280,0.01,0.010,0.075160,0.008280,0.01,0.010,0.075160,0.008280
7,274,0.01,0.100,0.077884,0.010597,0.01,0.100,0.077884,0.010597,0.01,0.100,0.077884,0.010597,0.01,0.100,0.077884,0.010597
8,276,0.01,0.001,0.101065,0.014356,0.01,0.001,0.101065,0.014356,0.01,0.001,0.101065,0.014356,0.01,0.001,0.101065,0.014356
9,328,0.01,0.010,0.065793,0.008997,0.01,0.010,0.065793,0.008997,0.01,0.010,0.065793,0.008997,0.01,0.010,0.065793,0.008997
10,346,0.01,5.000,0.077784,0.010333,0.01,5.000,0.077784,0.010333,0.01,5.000,0.077784,0.010333,0.01,5.000,0.077784,0.010333

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.1083  0.1083  0.1083  0.1083
1   0.1455  0.1455  0.1455  0.1455
2   1.7127  1.7127  1.7127  1.7127
3   0.1298  0.1298  0.1298  0.1298
4   0.0785  0.0785  0.0785  0.0785
5   0.0822  0.0822  0.0822  0.0822
6   0.0752  0.0752  0.0752  0.0752
7   0.0779  0.0779  0.0779  0.0779
8   0.1011  0.1011  0.1011  0.1011
9   0.0658  0.0658  0.0658  0.0658
10  0.0778  0.0778  0.0778  0.0778

Coefficient 1 : Linear_SVR 0.241 +/- 0.489
--------------------------------

Sigmoid_SVR

,DRUG_ID,best_C0,best_epsilon0,best_coef00,mae_0,mse_0,best_C1,best_epsilon1,best_coef01,mae_1,...,best_C2,best_epsilon2,best_coef02,mae_2,mse_2,best_C3,best_epsilon3,best_coef03,mae_3,mse_3
0,170,0.1,0.100,0.01,0.106838,0.017135,0.1,0.100,0.01,0.106842,...,0.1,0.100,0.01,0.106841,0.017136,0.1,0.100,0.01,0.106853,0.017138
1,173,1.0,0.001,0.50,0.186829,0.063972,1.0,0.001,0.50,0.186468,...,1.0,0.001,0.50,0.186863,0.063944,1.0,0.001,0.50,0.186395,0.063584
2,180,0.1,0.010,0.01,1.690537,20.679543,0.1,0.010,0.01,1.690507,...,0.1,0.010,0.01,1.690526,20.679843,0.1,0.010,0.01,1.690472,20.679315
3,200,0.1,0.001,0.01,0.125019,0.019692,0.1,0.001,0.01,0.125149,...,0.1,0.010,0.10,0.125438,0.019793,0.1,0.001,0.01,0.125151,0.019723
4,219,0.5,0.001,0.50,0.094305,0.013929,0.5,0.001,0.50,0.093762,...,0.5,0.001,0.50,0.094259,0.013922,0.5,0.001,0.50,0.093708,0.013798
5,272,0.5,0.010,1.00,0.086924,0.010322,0.5,0.010,1.00,0.087827,...,0.5,0.010,1.00,0.086850,0.010305,0.5,0.010,1.00,0.087832,0.011233
6,273,0.5,0.010,1.00,0.077773,0.009144,0.5,0.010,1.00,0.076405,...,0.5,0.010,1.00,0.077042,0.008944,0.5,0.010,1.00,0.077102,0.008985
7,274,500.0,0.001,5.00,0.066733,0.008817,500.0,0.001,5.00,0.066820,...,500.0,0.001,5.00,0.066749,0.008818,500.0,0.001,5.00,0.066716,0.008809
8,276,1.0,0.001,1.00,0.097528,0.013564,1.0,0.001,1.00,0.092967,...,1.0,0.001,1.00,0.097478,0.013555,1.0,0.001,1.00,0.092978,0.013691
9,328,0.5,0.010,1.00,0.069224,0.009794,0.5,0.010,1.00,0.069132,...,0.5,0.010,1.00,0.069253,0.009814,0.5,0.010,1.00,0.069056,0.009783
10,346,1.0,0.100,0.10,0.076335,0.008573,0.1,0.001,0.10,0.062593,...,1.0,0.100,0.10,0.076333,0.008574,0.1,0.001,0.10,0.062595,0.008779

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.1068  0.1068  0.1068  0.1069
1   0.1868  0.1865  0.1869  0.1864
2   1.6905  1.6905  1.6905  1.6905
3   0.1250  0.1251  0.1254  0.1252
4   0.0943  0.0938  0.0943  0.0937
5   0.0869  0.0878  0.0868  0.0878
6   0.0778  0.0764  0.0770  0.0771
7   0.0667  0.0668  0.0667  0.0667
8   0.0975  0.0930  0.0975  0.0930
9   0.0692  0.0691  0.0693  0.0691
10  0.0763  0.0626  0.0763  0.0626

Coefficient 1 : Sigmoid_SVR 0.242 +/- 0.482
--------------------------------

RBF_SVR

,DRUG_ID,best_C0,best_epsilon0,best_coef00,mae_0,mse_0,best_C1,best_epsilon1,best_coef01,mae_1,...,best_C2,best_epsilon2,best_coef02,mae_2,mse_2,best_C3,best_epsilon3,best_coef03,mae_3,mse_3
0,170,0.5,0.100,0.01,0.098614,0.015152,0.5,0.100,0.01,0.098655,...,0.5,0.100,0.01,0.098618,0.015154,0.5,0.100,0.01,0.098643,0.015165
1,173,0.1,0.001,0.01,0.127328,0.051447,0.1,0.001,0.01,0.127320,...,0.1,0.001,0.01,0.127326,0.051446,0.5,0.001,0.01,0.139670,0.053430
2,180,0.1,0.001,0.01,1.690065,20.686042,0.1,0.001,0.01,1.690074,...,0.1,0.001,0.01,1.690064,20.686060,0.1,0.001,0.01,1.690079,20.686604
3,200,0.5,0.001,0.01,0.129072,0.021637,0.5,0.001,0.01,0.129026,...,0.5,0.001,0.01,0.129065,0.021637,0.5,0.001,0.01,0.129032,0.021626
4,219,0.1,0.010,0.01,0.069908,0.011203,0.1,0.010,0.01,0.069880,...,0.1,0.010,0.01,0.069900,0.011201,0.1,0.010,0.01,0.069879,0.011200
5,272,0.5,0.010,0.01,0.088460,0.011208,0.5,0.010,0.01,0.088448,...,0.5,0.010,0.01,0.088452,0.011209,0.5,0.010,0.01,0.088417,0.011202
6,273,0.1,0.001,0.01,0.066665,0.007016,0.1,0.001,0.01,0.066707,...,0.1,0.001,0.01,0.066660,0.007017,0.1,0.001,0.01,0.066713,0.007024
7,274,0.1,0.001,0.01,0.066691,0.007866,0.1,0.001,0.01,0.066668,...,0.1,0.001,0.01,0.066680,0.007864,0.1,0.001,0.01,0.066673,0.007860
8,276,0.1,0.100,0.01,0.117525,0.017678,0.1,0.100,0.01,0.117500,...,0.1,0.100,0.01,0.117523,0.017678,0.1,0.100,0.01,0.117498,0.017670
9,328,0.1,0.001,0.01,0.065268,0.007843,0.1,0.001,0.01,0.065249,...,0.1,0.001,0.01,0.065266,0.007843,0.1,0.001,0.01,0.065241,0.007838
10,346,0.1,5.000,0.01,0.077784,0.010333,0.1,5.000,0.01,0.077784,...,0.1,5.000,0.01,0.077784,0.010333,0.1,5.000,0.01,0.077784,0.010333

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.0986  0.0987  0.0986  0.0986
1   0.1273  0.1273  0.1273  0.1397
2   1.6901  1.6901  1.6901  1.6901
3   0.1291  0.1290  0.1291  0.1290
4   0.0699  0.0699  0.0699  0.0699
5   0.0885  0.0884  0.0885  0.0884
6   0.0667  0.0667  0.0667  0.0667
7   0.0667  0.0667  0.0667  0.0667
8   0.1175  0.1175  0.1175  0.1175
9   0.0653  0.0652  0.0653  0.0652
10  0.0778  0.0778  0.0778  0.0778

Coefficient 1 : RBF_SVR 0.237 +/- 0.483
--------------------------------

Polynomial_SVR

,DRUG_ID,best_C0,best_epsilon0,best_coef00,best_degree0,mae_0,mse_0,best_C1,best_epsilon1,best_coef01,...,best_coef02,best_degree2,mae_2,mse_2,best_C3,best_epsilon3,best_coef03,best_degree3,mae_3,mse_3
0,170,10.0,0.001,0.10,4.0,0.124124,0.026509,10.0,0.001,0.10,...,0.10,4.0,0.124130,0.026514,10.0,0.001,0.10,4.0,0.124195,0.026555
1,173,0.5,0.001,0.01,1.0,0.145646,0.055158,0.5,0.001,0.10,...,0.01,1.0,0.145629,0.055147,0.5,0.001,5.00,1.0,0.145653,0.055188
2,180,0.1,0.001,0.01,1.0,1.690230,20.713848,0.1,0.001,5.00,...,1.00,1.0,1.690200,20.713821,0.1,0.001,0.50,1.0,1.690167,20.714300
3,200,0.1,0.100,0.10,1.0,0.126306,0.020871,0.1,0.100,1.00,...,0.01,1.0,0.126303,0.020870,0.1,0.100,0.01,1.0,0.126289,0.020861
4,219,0.1,0.010,0.10,1.0,0.069566,0.011100,0.1,0.010,5.00,...,5.00,1.0,0.069560,0.011099,0.1,0.010,5.00,1.0,0.069486,0.011096
5,272,0.5,0.010,0.01,2.0,0.081467,0.009968,0.5,0.010,0.01,...,0.01,2.0,0.081438,0.009964,0.5,0.010,0.01,2.0,0.081353,0.009937
6,273,0.1,0.001,0.10,2.0,0.068807,0.007264,0.1,0.001,0.10,...,0.10,2.0,0.068804,0.007264,0.1,0.001,0.10,2.0,0.068805,0.007260
7,274,0.1,0.010,0.01,1.0,0.068258,0.007929,0.1,0.010,5.00,...,0.50,1.0,0.068216,0.007922,0.1,0.010,5.00,1.0,0.068287,0.007936
8,276,0.1,0.001,5.00,1.0,0.112172,0.016299,0.1,0.001,1.00,...,0.01,1.0,0.112179,0.016304,0.1,0.001,1.00,1.0,0.112220,0.016313
9,328,0.1,0.001,0.01,5.0,0.067263,0.007506,0.1,0.001,0.01,...,0.01,5.0,0.067269,0.007508,0.1,0.001,0.01,5.0,0.067283,0.007511
10,346,0.1,5.000,0.01,1.0,0.077784,0.010333,0.1,5.000,0.01,...,0.01,1.0,0.077784,0.010333,0.1,5.000,0.01,1.0,0.077784,0.010333

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.1241  0.1242  0.1241  0.1242
1   0.1456  0.1456  0.1456  0.1457
2   1.6902  1.6902  1.6902  1.6902
3   0.1263  0.1263  0.1263  0.1263
4   0.0696  0.0695  0.0696  0.0695
5   0.0815  0.0814  0.0814  0.0814
6   0.0688  0.0688  0.0688  0.0688
7   0.0683  0.0682  0.0682  0.0683
8   0.1122  0.1122  0.1122  0.1122
9   0.0673  0.0673  0.0673  0.0673
10  0.0778  0.0778  0.0778  0.0778

Coefficient 1 : Polynomial_SVR 0.239 +/- 0.482
--------------------------------

In [13]:
i=2
for model in model_names:
    print(model)
    df = pd.read_csv(_FOLDER+ model+"_coef"+str(i)+".csv").rename(columns={"Unnamed: 0": "DRUG_ID"}) 
    display(df)
    print("MAE among datasets:")
    display(round(df[["mae_"+str(i) for i in range(4)]], 4))
    print("Coefficient", i, ":", model, round(df["mae_3"].mean(), 3), "+/-", round(df["mae_3"].std(),3))
    print("--------------------------------\n")

lasso

,DRUG_ID,best_alpha0,mae_0,mse_0,intercept_0,sum_coef_0,best_alpha1,mae_1,mse_1,intercept_1,...,best_alpha2,mae_2,mse_2,intercept_2,sum_coef_2,best_alpha3,mae_3,mse_3,intercept_3,sum_coef_3
0,170,0.50,0.269558,0.074066,0.776455,0.000000,0.50,0.269558,0.074066,0.776455,...,0.50,0.269558,0.074066,0.776455,0.000000,0.50,0.269558,0.074066,0.776455,0.000000
1,173,0.10,0.222711,0.087835,1.143384,0.000000,0.10,0.222711,0.087835,1.143384,...,0.10,0.222711,0.087835,1.143384,0.000000,0.10,0.222711,0.087835,1.143384,0.000000
2,180,1.00,2.785129,30.956782,-0.176774,0.000000,1.00,2.785129,30.956782,-0.176774,...,1.00,2.785129,30.956782,-0.176774,0.000000,1.00,2.785129,30.956782,-0.176774,0.000000
3,200,0.01,0.052891,0.004577,0.989953,-5.350281,0.01,0.052891,0.004577,0.989953,...,0.01,0.052891,0.004577,0.989953,-5.350281,0.01,0.052891,0.004577,0.989953,-5.350281
4,219,0.50,0.183067,0.058246,1.030339,0.000000,0.50,0.183067,0.058246,1.030339,...,0.50,0.183067,0.058246,1.030339,0.000000,0.50,0.183067,0.058246,1.030339,0.000000
5,272,0.10,0.079124,0.013926,1.014484,0.000000,0.10,0.079124,0.013926,1.014484,...,0.10,0.079124,0.013926,1.014484,0.000000,0.10,0.079124,0.013926,1.014484,0.000000
6,273,0.10,0.083109,0.018349,1.069750,0.000000,0.10,0.083109,0.018349,1.069750,...,0.10,0.083109,0.018349,1.069750,0.000000,0.10,0.083109,0.018349,1.069750,0.000000
7,274,0.50,0.250585,0.079037,0.826107,0.000000,0.50,0.250585,0.079037,0.826107,...,0.50,0.250585,0.079037,0.826107,0.000000,0.50,0.250585,0.079037,0.826107,0.000000
8,276,0.01,0.039684,0.002329,1.024358,0.082853,0.01,0.039684,0.002329,1.024358,...,0.01,0.039684,0.002329,1.024358,0.082853,0.01,0.039684,0.002329,1.024358,0.082853
9,328,0.01,0.170109,0.042119,1.178561,-7.263998,0.01,0.170109,0.042119,1.178561,...,0.01,0.170109,0.042119,1.178561,-7.263998,0.01,0.170109,0.042119,1.178561,-7.263998
10,346,0.10,0.166188,0.042987,1.194723,0.000000,0.10,0.166188,0.042987,1.194723,...,0.10,0.166188,0.042987,1.194723,0.000000,0.10,0.166188,0.042987,1.194723,0.000000

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.2696  0.2696  0.2696  0.2696
1   0.2227  0.2227  0.2227  0.2227
2   2.7851  2.7851  2.7851  2.7851
3   0.0529  0.0529  0.0529  0.0529
4   0.1831  0.1831  0.1831  0.1831
5   0.0791  0.0791  0.0791  0.0791
6   0.0831  0.0831  0.0831  0.0831
7   0.2506  0.2506  0.2506  0.2506
8   0.0397  0.0397  0.0397  0.0397
9   0.1701  0.1701  0.1701  0.1701
10  0.1662  0.1662  0.1662  0.1662

Coefficient 2 : lasso 0.391 +/- 0.798
--------------------------------

ridge

,DRUG_ID,best_alpha0,best_solver0,mae_0,mse_0,intercept_0,sum_coef_0,best_alpha1,best_solver1,mae_1,...,mae_2,mse_2,intercept_2,sum_coef_2,best_alpha3,best_solver3,mae_3,mse_3,intercept_3,sum_coef_3
0,170,300.0,lsqr,0.279469,0.212844,0.816344,-1.939077,300.0,lsqr,0.279469,...,0.279469,0.212844,0.816344,-1.939077,300.0,lsqr,0.279469,0.212844,0.816344,-1.939077
1,173,50.0,lsqr,0.224662,0.091400,1.107217,0.241455,50.0,lsqr,0.224662,...,0.224662,0.091400,1.107217,0.241455,50.0,lsqr,0.224662,0.091400,1.107217,0.241455
2,180,100.0,sparse_cg,2.892818,30.512720,-0.198551,-1.444193,100.0,sparse_cg,2.892818,...,2.892818,30.512720,-0.198551,-1.444193,100.0,sparse_cg,2.892818,30.512720,-0.198551,-1.444193
3,200,1000.0,lsqr,0.120252,0.016607,0.938159,0.043637,1000.0,lsqr,0.120252,...,0.120252,0.016607,0.938159,0.043637,1000.0,lsqr,0.120252,0.016607,0.938159,0.043637
4,219,1000.0,sparse_cg,0.181629,0.062070,1.022975,0.377775,1000.0,sparse_cg,0.181629,...,0.181629,0.062070,1.022975,0.377775,1000.0,sparse_cg,0.181629,0.062070,1.022975,0.377775
5,272,1000.0,lsqr,0.080464,0.014733,1.009555,0.186964,1000.0,lsqr,0.080464,...,0.080464,0.014733,1.009555,0.186964,1000.0,lsqr,0.080464,0.014733,1.009555,0.186964
6,273,300.0,auto,0.081902,0.017626,1.059698,0.065811,300.0,auto,0.081902,...,0.081902,0.017626,1.059698,0.065811,300.0,auto,0.081902,0.017626,1.059698,0.065811
7,274,1000.0,lsqr,0.274154,0.105961,0.820726,-0.008775,1000.0,lsqr,0.274154,...,0.274154,0.105961,0.820726,-0.008775,1000.0,lsqr,0.274154,0.105961,0.820726,-0.008775
8,276,1000.0,sparse_cg,0.039383,0.002308,1.029433,0.031498,1000.0,sparse_cg,0.039383,...,0.039383,0.002308,1.029433,0.031498,1000.0,sparse_cg,0.039383,0.002308,1.029433,0.031498
9,328,1000.0,lsqr,0.174651,0.050060,1.132776,0.084854,1000.0,lsqr,0.174651,...,0.174651,0.050060,1.132776,0.084854,1000.0,lsqr,0.174651,0.050060,1.132776,0.084854
10,346,1000.0,sparse_cg,0.165967,0.042911,1.194930,0.005997,1000.0,sparse_cg,0.165967,...,0.165967,0.042911,1.194930,0.005997,1000.0,sparse_cg,0.165967,0.042911,1.194930,0.005997

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.2795  0.2795  0.2795  0.2795
1   0.2247  0.2247  0.2247  0.2247
2   2.8928  2.8928  2.8928  2.8928
3   0.1203  0.1203  0.1203  0.1203
4   0.1816  0.1816  0.1816  0.1816
5   0.0805  0.0805  0.0805  0.0805
6   0.0819  0.0819  0.0819  0.0819
7   0.2742  0.2742  0.2742  0.2742
8   0.0394  0.0394  0.0394  0.0394
9   0.1747  0.1747  0.1747  0.1747
10  0.1660  0.1660  0.1660  0.1660

Coefficient 2 : ridge 0.41 +/- 0.827
--------------------------------

Linear_KernelRidge

,DRUG_ID,best_alpha0,mae_0,mse_0,best_alpha1,mae_1,mse_1,best_alpha2,mae_2,mse_2,best_alpha3,mae_3,mse_3
0,170,100.0,0.643747,0.848683,100.0,0.643747,0.848683,100.0,0.643747,0.848683,100.0,0.643747,0.848683
1,173,0.1,0.410654,0.283321,0.1,0.410654,0.283321,0.1,0.410654,0.283321,0.1,0.410654,0.283321
2,180,500.0,2.731773,30.923444,500.0,2.731773,30.923444,500.0,2.731773,30.923444,500.0,2.731773,30.923444
3,200,50.0,0.466495,0.279966,50.0,0.466495,0.279966,50.0,0.466495,0.279966,50.0,0.466495,0.279966
4,219,50.0,0.531363,0.374636,50.0,0.531363,0.374636,50.0,0.531363,0.374636,50.0,0.531363,0.374636
5,272,10.0,0.423166,0.293211,10.0,0.423166,0.293211,10.0,0.423166,0.293211,10.0,0.423166,0.293211
6,273,10.0,0.299464,0.134031,10.0,0.299464,0.134031,10.0,0.299464,0.134031,10.0,0.299464,0.134031
7,274,100.0,0.623196,0.896352,100.0,0.623196,0.896352,100.0,0.623196,0.896352,100.0,0.623196,0.896352
8,276,5.0,0.399970,0.208933,5.0,0.399970,0.208933,5.0,0.399970,0.208933,5.0,0.399970,0.208933
9,328,50.0,0.446085,0.272652,50.0,0.446085,0.272652,50.0,0.446085,0.272652,50.0,0.446085,0.272652
10,346,5.0,0.476517,0.345117,5.0,0.476517,0.345117,5.0,0.476517,0.345117,5.0,0.476517,0.345117

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.6437  0.6437  0.6437  0.6437
1   0.4107  0.4107  0.4107  0.4107
2   2.7318  2.7318  2.7318  2.7318
3   0.4665  0.4665  0.4665  0.4665
4   0.5314  0.5314  0.5314  0.5314
5   0.4232  0.4232  0.4232  0.4232
6   0.2995  0.2995  0.2995  0.2995
7   0.6232  0.6232  0.6232  0.6232
8   0.4000  0.4000  0.4000  0.4000
9   0.4461  0.4461  0.4461  0.4461
10  0.4765  0.4765  0.4765  0.4765

Coefficient 2 : Linear_KernelRidge 0.677 +/- 0.688
--------------------------------

Sigmoid_KernelRidge

,DRUG_ID,best_alpha0,best_gamma0,best_coef00,mae_0,mse_0,best_alpha1,best_gamma1,best_coef01,mae_1,...,best_alpha2,best_gamma2,best_coef02,mae_2,mse_2,best_alpha3,best_gamma3,best_coef03,mae_3,mse_3
0,170,0.1,0.00010,0.50,0.264512,0.086121,0.1,0.00010,0.50,0.264512,...,0.1,0.00010,0.50,0.264512,0.086121,0.1,0.00010,0.50,0.264512,0.086121
1,173,1.0,0.00001,0.50,0.203521,0.086248,1.0,0.00001,0.50,0.203521,...,1.0,0.00001,0.50,0.203521,0.086248,1.0,0.00001,0.50,0.203521,0.086248
2,180,500.0,0.00001,0.01,2.655643,31.197906,500.0,0.00001,0.01,2.655643,...,500.0,0.00001,0.01,2.655643,31.197906,500.0,0.00001,0.01,2.655643,31.197906
3,200,0.1,0.00001,5.00,0.124520,0.017324,0.1,0.00001,5.00,0.124520,...,0.1,0.00001,5.00,0.124520,0.017324,0.1,0.00001,5.00,0.124520,0.017324
4,219,0.1,1.00000,5.00,0.184987,0.059017,0.1,1.00000,5.00,0.184987,...,0.1,1.00000,5.00,0.184987,0.059017,0.1,1.00000,5.00,0.184987,0.059017
5,272,0.1,0.10000,5.00,0.079190,0.014029,0.1,0.10000,5.00,0.079190,...,0.1,0.10000,5.00,0.079190,0.014029,0.1,0.10000,5.00,0.079190,0.014029
6,273,1.0,0.00010,0.50,0.082230,0.019083,1.0,0.00010,0.50,0.082230,...,1.0,0.00010,0.50,0.082230,0.019083,1.0,0.00010,0.50,0.082230,0.019083
7,274,0.1,0.01000,5.00,0.251948,0.079679,0.1,0.01000,5.00,0.251948,...,0.1,0.01000,5.00,0.251948,0.079679,0.1,0.01000,5.00,0.251948,0.079679
8,276,1.0,0.01000,1.00,0.041242,0.002572,1.0,0.01000,1.00,0.041242,...,1.0,0.01000,1.00,0.041242,0.002572,1.0,0.01000,1.00,0.041242,0.002572
9,328,0.1,0.00010,1.00,0.177609,0.052304,0.1,0.00010,1.00,0.177609,...,0.1,0.00010,1.00,0.177609,0.052304,0.1,0.00010,1.00,0.177609,0.052304
10,346,0.5,1.00000,1.00,0.233566,0.080129,0.5,1.00000,1.00,0.233566,...,0.5,1.00000,1.00,0.233566,0.080129,0.5,1.00000,1.00,0.233566,0.080129

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.2645  0.2645  0.2645  0.2645
1   0.2035  0.2035  0.2035  0.2035
2   2.6556  2.6556  2.6556  2.6556
3   0.1245  0.1245  0.1245  0.1245
4   0.1850  0.1850  0.1850  0.1850
5   0.0792  0.0792  0.0792  0.0792
6   0.0822  0.0822  0.0822  0.0822
7   0.2519  0.2519  0.2519  0.2519
8   0.0412  0.0412  0.0412  0.0412
9   0.1776  0.1776  0.1776  0.1776
10  0.2336  0.2336  0.2336  0.2336

Coefficient 2 : Sigmoid_KernelRidge 0.391 +/- 0.755
--------------------------------

RBF_KernelRidge

,DRUG_ID,best_alpha0,best_gamma0,best_coef00,mae_0,mse_0,best_alpha1,best_gamma1,best_coef01,mae_1,...,best_alpha2,best_gamma2,best_coef02,mae_2,mse_2,best_alpha3,best_gamma3,best_coef03,mae_3,mse_3
0,170,0.1,0.00010,0.01,0.259886,0.136850,0.1,0.00010,0.01,0.259886,...,0.1,0.00010,0.01,0.259886,0.136850,0.1,0.00010,0.01,0.259886,0.136850
1,173,1.0,0.00001,0.01,0.211950,0.086215,1.0,0.00001,0.01,0.211950,...,1.0,0.00001,0.01,0.211950,0.086215,1.0,0.00001,0.01,0.211950,0.086215
2,180,0.1,0.10000,0.01,2.566809,31.290274,0.1,0.10000,0.01,2.566809,...,0.1,0.10000,0.01,2.566809,31.290274,0.1,0.10000,0.01,2.566809,31.290274
3,200,0.1,0.00001,0.01,0.123833,0.017131,0.1,0.00001,0.01,0.123833,...,0.1,0.00001,0.01,0.123833,0.017131,0.1,0.00001,0.01,0.123833,0.017131
4,219,0.1,0.00001,0.01,0.183866,0.059370,0.1,0.00001,0.01,0.183866,...,0.1,0.00001,0.01,0.183866,0.059370,0.1,0.00001,0.01,0.183866,0.059370
5,272,0.1,0.00001,0.01,0.079116,0.014127,0.1,0.00001,0.01,0.079116,...,0.1,0.00001,0.01,0.079116,0.014127,0.1,0.00001,0.01,0.079116,0.014127
6,273,1.0,0.00001,0.01,0.080939,0.018523,1.0,0.00001,0.01,0.080939,...,1.0,0.00001,0.01,0.080939,0.018523,1.0,0.00001,0.01,0.080939,0.018523
7,274,0.1,0.00001,0.01,0.256622,0.082321,0.1,0.00001,0.01,0.256622,...,0.1,0.00001,0.01,0.256622,0.082321,0.1,0.00001,0.01,0.256622,0.082321
8,276,1.0,0.00001,0.01,0.038451,0.002170,1.0,0.00001,0.01,0.038451,...,1.0,0.00001,0.01,0.038451,0.002170,1.0,0.00001,0.01,0.038451,0.002170
9,328,0.1,0.00001,0.01,0.179453,0.053182,0.1,0.00001,0.01,0.179453,...,0.1,0.00001,0.01,0.179453,0.053182,0.1,0.00001,0.01,0.179453,0.053182
10,346,1.0,0.00001,0.01,0.166103,0.046400,1.0,0.00001,0.01,0.166103,...,1.0,0.00001,0.01,0.166103,0.046400,1.0,0.00001,0.01,0.166103,0.046400

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.2599  0.2599  0.2599  0.2599
1   0.2119  0.2119  0.2119  0.2119
2   2.5668  2.5668  2.5668  2.5668
3   0.1238  0.1238  0.1238  0.1238
4   0.1839  0.1839  0.1839  0.1839
5   0.0791  0.0791  0.0791  0.0791
6   0.0809  0.0809  0.0809  0.0809
7   0.2566  0.2566  0.2566  0.2566
8   0.0385  0.0385  0.0385  0.0385
9   0.1795  0.1795  0.1795  0.1795
10  0.1661  0.1661  0.1661  0.1661

Coefficient 2 : RBF_KernelRidge 0.377 +/- 0.73
--------------------------------

PolynomialKernelRidge

,DRUG_ID,best_alpha0,best_gamma0,best_coef00,best_degree0,mae_0,mse_0,best_alpha1,best_gamma1,best_coef01,...,best_coef02,best_degree2,mae_2,mse_2,best_alpha3,best_gamma3,best_coef03,best_degree3,mae_3,mse_3
0,170,500.0,0.10000,5.0,5.0,0.242872,0.263819,500.0,0.10000,5.0,...,5.0,5.0,0.242872,0.263819,500.0,0.10000,5.0,5.0,0.242872,0.263819
1,173,10.0,0.00001,5.0,1.0,0.204677,0.086126,10.0,0.00001,5.0,...,5.0,1.0,0.204677,0.086126,10.0,0.00001,5.0,1.0,0.204677,0.086126
2,180,0.1,0.10000,1.0,5.0,2.573272,31.601006,0.1,0.10000,1.0,...,1.0,5.0,2.573272,31.601006,0.1,0.10000,1.0,5.0,2.573272,31.601006
3,200,0.1,0.00001,5.0,1.0,0.123110,0.016958,0.1,0.00001,5.0,...,5.0,1.0,0.123110,0.016958,0.1,0.00001,5.0,1.0,0.123110,0.016958
4,219,0.1,0.00001,5.0,1.0,0.183013,0.058606,0.1,0.00001,5.0,...,5.0,1.0,0.183013,0.058606,0.1,0.00001,5.0,1.0,0.183013,0.058606
5,272,0.1,0.00001,5.0,1.0,0.079080,0.013989,0.1,0.00001,5.0,...,5.0,1.0,0.079080,0.013989,0.1,0.00001,5.0,1.0,0.079080,0.013989
6,273,10.0,0.01000,5.0,1.0,0.081985,0.018596,10.0,0.01000,5.0,...,5.0,1.0,0.081985,0.018596,10.0,0.01000,5.0,1.0,0.081985,0.018596
7,274,0.1,0.00001,5.0,1.0,0.253265,0.080298,0.1,0.00001,5.0,...,5.0,1.0,0.253265,0.080298,0.1,0.00001,5.0,1.0,0.253265,0.080298
8,276,5.0,0.01000,5.0,1.0,0.039632,0.002296,5.0,0.01000,5.0,...,5.0,1.0,0.039632,0.002296,5.0,0.01000,5.0,1.0,0.039632,0.002296
9,328,50.0,0.00001,5.0,5.0,0.175915,0.051210,50.0,0.00001,5.0,...,5.0,5.0,0.175915,0.051210,50.0,0.00001,5.0,5.0,0.175915,0.051210
10,346,1.0,0.01000,0.5,1.0,0.181831,0.059520,1.0,0.01000,0.5,...,0.5,1.0,0.181831,0.059520,1.0,0.01000,0.5,1.0,0.181831,0.059520

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.2429  0.2429  0.2429  0.2429
1   0.2047  0.2047  0.2047  0.2047
2   2.5733  2.5733  2.5733  2.5733
3   0.1231  0.1231  0.1231  0.1231
4   0.1830  0.1830  0.1830  0.1830
5   0.0791  0.0791  0.0791  0.0791
6   0.0820  0.0820  0.0820  0.0820
7   0.2533  0.2533  0.2533  0.2533
8   0.0396  0.0396  0.0396  0.0396
9   0.1759  0.1759  0.1759  0.1759
10  0.1818  0.1818  0.1818  0.1818

Coefficient 2 : PolynomialKernelRidge 0.376 +/- 0.732
--------------------------------

Linear_SVR

,DRUG_ID,best_C0,best_epsilon0,mae_0,mse_0,best_C1,best_epsilon1,mae_1,mse_1,best_C2,best_epsilon2,mae_2,mse_2,best_C3,best_epsilon3,mae_3,mse_3
0,170,0.01,0.010,0.027185,0.001201,0.01,0.010,0.027185,0.001201,0.01,0.010,0.027185,0.001201,0.01,0.010,0.027185,0.001201
1,173,0.01,0.001,0.241977,0.099850,0.01,0.001,0.241977,0.099850,0.01,0.001,0.241977,0.099850,0.01,0.001,0.241977,0.099850
2,180,0.01,0.001,1.918456,33.983057,0.01,0.001,1.918456,33.983057,0.01,0.001,1.918456,33.983057,0.01,0.001,1.918456,33.983057
3,200,0.01,0.010,0.043240,0.003282,0.01,0.010,0.043240,0.003282,0.01,0.010,0.043240,0.003282,0.01,0.010,0.043240,0.003282
4,219,0.01,0.100,0.144362,0.033075,0.01,0.100,0.144362,0.033075,0.01,0.100,0.144362,0.033075,0.01,0.100,0.144362,0.033075
5,272,0.01,0.001,0.105129,0.018393,0.01,0.001,0.105129,0.018393,0.01,0.001,0.105129,0.018393,0.01,0.001,0.105129,0.018393
6,273,0.01,0.010,0.077862,0.015643,0.01,0.010,0.077862,0.015643,0.01,0.010,0.077862,0.015643,0.01,0.010,0.077862,0.015643
7,274,0.01,0.010,0.093255,0.018532,0.01,0.010,0.093255,0.018532,0.01,0.010,0.093255,0.018532,0.01,0.010,0.093255,0.018532
8,276,0.01,0.010,0.060106,0.005690,0.01,0.010,0.060106,0.005690,0.01,0.010,0.060106,0.005690,0.01,0.010,0.060106,0.005690
9,328,0.01,0.001,0.196282,0.057420,0.01,0.001,0.196282,0.057420,0.01,0.001,0.196282,0.057420,0.01,0.001,0.196282,0.057420
10,346,0.01,0.100,0.176970,0.052660,0.01,0.100,0.176970,0.052660,0.01,0.100,0.176970,0.052660,0.01,0.100,0.176970,0.052660

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.0272  0.0272  0.0272  0.0272
1   0.2420  0.2420  0.2420  0.2420
2   1.9185  1.9185  1.9185  1.9185
3   0.0432  0.0432  0.0432  0.0432
4   0.1444  0.1444  0.1444  0.1444
5   0.1051  0.1051  0.1051  0.1051
6   0.0779  0.0779  0.0779  0.0779
7   0.0933  0.0933  0.0933  0.0933
8   0.0601  0.0601  0.0601  0.0601
9   0.1963  0.1963  0.1963  0.1963
10  0.1770  0.1770  0.1770  0.1770

Coefficient 2 : Linear_SVR 0.28 +/- 0.547
--------------------------------

Sigmoid_SVR

,DRUG_ID,best_C0,best_epsilon0,best_coef00,mae_0,mse_0,best_C1,best_epsilon1,best_coef01,mae_1,...,best_C2,best_epsilon2,best_coef02,mae_2,mse_2,best_C3,best_epsilon3,best_coef03,mae_3,mse_3
0,170,10.0,0.001,5.00,0.026326,0.001438,10.0,0.001,5.00,0.026326,...,10.0,0.001,5.00,0.026326,0.001438,10.0,0.001,5.00,0.026327,0.001438
1,173,1.0,0.010,0.50,0.243883,0.110642,1.0,0.010,0.50,0.243736,...,1.0,0.010,0.50,0.243867,0.110599,1.0,0.010,0.50,0.243733,0.110605
2,180,0.1,0.001,1.00,1.931431,34.152809,0.1,0.001,1.00,1.931417,...,0.1,0.001,1.00,1.931429,34.152797,0.1,0.001,1.00,1.931416,34.152709
3,200,0.1,0.001,0.50,0.037995,0.002155,0.1,0.001,0.50,0.038104,...,0.1,0.001,0.50,0.038019,0.002156,0.1,0.001,0.50,0.038103,0.002162
4,219,0.1,0.100,0.01,0.131849,0.028189,0.1,0.100,0.01,0.131805,...,0.1,0.100,0.01,0.131824,0.028184,0.1,0.100,0.01,0.131753,0.028148
5,272,0.1,0.010,0.01,0.086455,0.012250,0.1,0.010,0.01,0.086493,...,0.1,0.010,0.01,0.086454,0.012250,0.1,0.010,0.01,0.086496,0.012264
6,273,100.0,0.001,5.00,0.080394,0.018284,100.0,0.001,5.00,0.080399,...,100.0,0.001,5.00,0.080394,0.018284,100.0,0.001,5.00,0.080400,0.018287
7,274,100.0,0.010,5.00,0.091173,0.019139,100.0,0.010,5.00,0.091179,...,100.0,0.010,5.00,0.091183,0.019141,100.0,0.010,5.00,0.091174,0.019138
8,276,0.5,0.001,1.00,0.063169,0.005503,1.0,0.010,1.00,0.063469,...,1.0,0.010,1.00,0.063758,0.005826,1.0,0.010,1.00,0.063479,0.005771
9,328,100.0,0.010,5.00,0.167992,0.043062,100.0,0.010,5.00,0.168000,...,100.0,0.010,5.00,0.167989,0.043061,100.0,0.010,5.00,0.167995,0.043061
10,346,0.5,0.001,1.00,0.167369,0.049313,0.5,0.001,1.00,0.167405,...,0.5,0.001,1.00,0.167364,0.049310,0.5,0.001,1.00,0.167403,0.049305

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.0263  0.0263  0.0263  0.0263
1   0.2439  0.2437  0.2439  0.2437
2   1.9314  1.9314  1.9314  1.9314
3   0.0380  0.0381  0.0380  0.0381
4   0.1318  0.1318  0.1318  0.1318
5   0.0865  0.0865  0.0865  0.0865
6   0.0804  0.0804  0.0804  0.0804
7   0.0912  0.0912  0.0912  0.0912
8   0.0632  0.0635  0.0638  0.0635
9   0.1680  0.1680  0.1680  0.1680
10  0.1674  0.1674  0.1674  0.1674

Coefficient 2 : Sigmoid_SVR 0.275 +/- 0.553
--------------------------------

RBF_SVR

,DRUG_ID,best_C0,best_epsilon0,best_coef00,mae_0,mse_0,best_C1,best_epsilon1,best_coef01,mae_1,...,best_C2,best_epsilon2,best_coef02,mae_2,mse_2,best_C3,best_epsilon3,best_coef03,mae_3,mse_3
0,170,0.1,0.010,0.01,0.024572,0.001125,0.1,0.010,0.01,0.024574,...,0.1,0.010,0.01,0.024554,0.001123,0.1,0.010,0.01,0.024574,0.001125
1,173,0.1,0.001,0.01,0.218104,0.089384,0.1,0.001,0.01,0.218083,...,0.1,0.001,0.01,0.218102,0.089385,0.1,0.001,0.01,0.218093,0.089381
2,180,0.1,0.010,0.01,1.933230,34.161549,0.1,0.010,0.01,1.933197,...,0.1,0.010,0.01,1.933224,34.161544,0.1,0.010,0.01,1.933196,34.161302
3,200,0.1,0.010,0.01,0.040234,0.002685,0.1,0.010,0.01,0.040203,...,0.1,0.010,0.01,0.040228,0.002684,0.1,0.010,0.01,0.040201,0.002680
4,219,0.5,0.010,0.01,0.134492,0.026927,0.5,0.010,0.01,0.134413,...,0.5,0.010,0.01,0.134496,0.026938,0.5,0.010,0.01,0.134387,0.026935
5,272,0.1,0.001,0.01,0.088605,0.012689,0.1,0.001,0.01,0.088587,...,0.1,0.001,0.01,0.088602,0.012688,0.1,0.001,0.01,0.088604,0.012688
6,273,0.1,0.001,0.01,0.078150,0.017843,0.1,0.001,0.01,0.078121,...,0.1,0.001,0.01,0.078150,0.017843,0.1,0.001,0.01,0.078150,0.017848
7,274,0.1,0.010,0.01,0.087769,0.018161,0.1,0.010,0.01,0.087758,...,0.1,0.010,0.01,0.087762,0.018161,0.1,0.010,0.01,0.087760,0.018162
8,276,0.1,0.010,0.01,0.042473,0.002887,0.1,0.010,0.01,0.042480,...,0.1,0.010,0.01,0.042478,0.002887,0.1,0.010,0.01,0.042472,0.002884
9,328,0.1,0.001,0.01,0.173257,0.046468,0.1,0.001,0.01,0.173288,...,0.1,0.001,0.01,0.173225,0.046445,0.1,0.001,0.01,0.173291,0.046475
10,346,0.1,0.001,0.01,0.169604,0.051086,0.1,0.001,0.01,0.169599,...,0.1,0.001,0.01,0.169627,0.051115,0.1,0.001,0.01,0.169598,0.051090

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.0246  0.0246  0.0246  0.0246
1   0.2181  0.2181  0.2181  0.2181
2   1.9332  1.9332  1.9332  1.9332
3   0.0402  0.0402  0.0402  0.0402
4   0.1345  0.1344  0.1345  0.1344
5   0.0886  0.0886  0.0886  0.0886
6   0.0781  0.0781  0.0781  0.0782
7   0.0878  0.0878  0.0878  0.0878
8   0.0425  0.0425  0.0425  0.0425
9   0.1733  0.1733  0.1732  0.1733
10  0.1696  0.1696  0.1696  0.1696

Coefficient 2 : RBF_SVR 0.272 +/- 0.554
--------------------------------

Polynomial_SVR

,DRUG_ID,best_C0,best_epsilon0,best_coef00,best_degree0,mae_0,mse_0,best_C1,best_epsilon1,best_coef01,...,best_coef02,best_degree2,mae_2,mse_2,best_C3,best_epsilon3,best_coef03,best_degree3,mae_3,mse_3
0,170,0.1,0.010,0.01,5.0,0.027704,0.001509,0.1,0.010,0.01,...,0.01,5.0,0.027698,0.001509,0.1,0.010,0.01,5.0,0.027605,0.001504
1,173,0.1,0.001,0.01,5.0,0.207895,0.085961,0.1,0.001,0.01,...,0.01,4.0,0.208902,0.086089,0.1,0.001,0.01,4.0,0.208857,0.086086
2,180,0.1,0.001,0.01,5.0,1.926118,34.087172,0.1,0.001,0.01,...,0.01,5.0,1.926126,34.087282,0.1,0.001,0.01,5.0,1.926129,34.087234
3,200,0.1,0.010,0.01,5.0,0.036227,0.002480,0.1,0.010,0.01,...,0.01,5.0,0.036200,0.002474,0.1,0.010,0.01,5.0,0.036170,0.002474
4,219,0.1,0.100,1.00,1.0,0.130541,0.027669,0.1,0.100,1.00,...,0.01,1.0,0.130536,0.027666,0.1,0.100,0.50,1.0,0.130511,0.027657
5,272,0.1,0.010,0.50,1.0,0.089104,0.012770,0.1,0.010,5.00,...,1.00,1.0,0.089104,0.012774,0.1,0.010,0.50,1.0,0.089080,0.012768
6,273,0.1,0.010,0.01,5.0,0.082181,0.018961,0.1,0.010,0.01,...,0.01,5.0,0.082175,0.018960,0.1,0.010,0.01,5.0,0.082171,0.018962
7,274,0.1,0.001,0.01,4.0,0.094870,0.019642,0.1,0.010,0.01,...,0.01,4.0,0.094883,0.019645,0.1,0.010,0.01,4.0,0.095657,0.019799
8,276,0.1,0.001,0.01,4.0,0.040921,0.002494,0.1,0.001,0.01,...,0.01,4.0,0.040960,0.002499,0.1,0.001,0.01,4.0,0.040914,0.002492
9,328,0.5,0.001,1.00,1.0,0.200357,0.058872,0.5,0.001,5.00,...,0.10,1.0,0.200341,0.058855,0.5,0.001,5.00,1.0,0.200266,0.058850
10,346,500.0,0.100,0.01,5.0,0.169680,0.052251,500.0,0.100,0.01,...,0.01,5.0,0.169681,0.052251,500.0,0.100,0.01,5.0,0.169685,0.052253

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.0277  0.0276  0.0277  0.0276
1   0.2079  0.2088  0.2089  0.2089
2   1.9261  1.9261  1.9261  1.9261
3   0.0362  0.0361  0.0362  0.0362
4   0.1305  0.1305  0.1305  0.1305
5   0.0891  0.0891  0.0891  0.0891
6   0.0822  0.0822  0.0822  0.0822
7   0.0949  0.0957  0.0949  0.0957
8   0.0409  0.0409  0.0410  0.0409
9   0.2004  0.2003  0.2003  0.2003
10  0.1697  0.1697  0.1697  0.1697

Coefficient 2 : Polynomial_SVR 0.273 +/- 0.552
--------------------------------

In [14]:
i=3
for model in model_names:
    print(model)
    df = pd.read_csv(_FOLDER+ model+"_coef"+str(i)+".csv").rename(columns={"Unnamed: 0": "DRUG_ID"}) 
    display(df)
    print("MAE among datasets:")
    display(round(df[["mae_"+str(i) for i in range(4)]], 4))
    print("Coefficient", i, ":", model, round(df["mae_3"].mean(), 3), "+/-", round(df["mae_3"].std(),3))
    print("--------------------------------\n")

lasso

,DRUG_ID,best_alpha0,mae_0,mse_0,intercept_0,sum_coef_0,best_alpha1,mae_1,mse_1,intercept_1,...,best_alpha2,mae_2,mse_2,intercept_2,sum_coef_2,best_alpha3,mae_3,mse_3,intercept_3,sum_coef_3
0,170,5.0,13.108360,263.230022,-37.135827,0.000000,5.0,13.108360,263.230022,-37.135827,...,5.0,13.108360,263.230022,-37.135827,0.000000,5.0,13.108360,263.230022,-37.135827,0.000000
1,173,5.0,27.663468,2800.739979,-15.628001,0.000000,5.0,27.663468,2800.739979,-15.628001,...,5.0,27.663468,2800.739979,-15.628001,0.000000,5.0,27.663468,2800.739979,-15.628001,0.000000
2,180,0.1,7.939861,118.209679,-12.701594,-56.770755,0.1,7.939861,118.209679,-12.701594,...,0.1,7.939861,118.209679,-12.701594,-56.770755,0.1,7.939861,118.209679,-12.701594,-56.770755
3,200,0.5,25.433776,3694.015241,-10.752502,-9.045777,0.5,25.433776,3694.015241,-10.752502,...,0.5,25.433776,3694.015241,-10.752502,-9.045777,0.5,25.433776,3694.015241,-10.752502,-9.045777
4,219,10.0,14.827314,255.753441,-33.001120,0.000000,10.0,14.827314,255.753441,-33.001120,...,10.0,14.827314,255.753441,-33.001120,0.000000,10.0,14.827314,255.753441,-33.001120,0.000000
5,272,5.0,4.671322,35.847561,-13.664997,0.000000,5.0,4.671322,35.847561,-13.664997,...,5.0,4.671322,35.847561,-13.664997,0.000000,5.0,4.671322,35.847561,-13.664997,0.000000
6,273,1.0,7.633658,88.779735,-14.731020,-46.196125,1.0,7.633658,88.779735,-14.731020,...,1.0,7.633658,88.779735,-14.731020,-46.196125,1.0,7.633658,88.779735,-14.731020,-46.196125
7,274,1.0,4.497960,115.404796,-11.679018,0.000000,1.0,4.497960,115.404796,-11.679018,...,1.0,4.497960,115.404796,-11.679018,0.000000,1.0,4.497960,115.404796,-11.679018,0.000000
8,276,5.0,5.292148,40.507428,-15.856248,0.000000,5.0,5.292148,40.507428,-15.856248,...,5.0,5.292148,40.507428,-15.856248,0.000000,5.0,5.292148,40.507428,-15.856248,0.000000
9,328,5.0,4.209702,24.304098,-17.250994,0.000000,5.0,4.209702,24.304098,-17.250994,...,5.0,4.209702,24.304098,-17.250994,0.000000,5.0,4.209702,24.304098,-17.250994,0.000000
10,346,1.0,7.171585,67.142631,-32.080576,12.868244,1.0,7.171585,67.142631,-32.080576,...,1.0,7.171585,67.142631,-32.080576,12.868244,1.0,7.171585,67.142631,-32.080576,12.868244

MAE among datasets:

      mae_0    mae_1    mae_2    mae_3
0   13.1084  13.1084  13.1084  13.1084
1   27.6635  27.6635  27.6635  27.6635
2    7.9399   7.9399   7.9399   7.9399
3   25.4338  25.4338  25.4338  25.4338
4   14.8273  14.8273  14.8273  14.8273
5    4.6713   4.6713   4.6713   4.6713
6    7.6337   7.6337   7.6337   7.6337
7    4.4980   4.4980   4.4980   4.4980
8    5.2921   5.2921   5.2921   5.2921
9    4.2097   4.2097   4.2097   4.2097
10   7.1716   7.1716   7.1716   7.1716

Coefficient 3 : lasso 11.132 +/- 8.374
--------------------------------

ridge

,DRUG_ID,best_alpha0,best_solver0,mae_0,mse_0,intercept_0,sum_coef_0,best_alpha1,best_solver1,mae_1,...,mae_2,mse_2,intercept_2,sum_coef_2,best_alpha3,best_solver3,mae_3,mse_3,intercept_3,sum_coef_3
0,170,300.0,auto,12.263476,224.322154,-41.252458,24.385882,300.0,auto,12.263476,...,12.263476,224.322154,-41.252458,24.385882,300.0,svd,12.263476,224.322154,-41.252458,24.385882
1,173,1000.0,auto,27.625331,2793.469604,-15.722138,2.257742,1000.0,auto,27.625331,...,27.625331,2793.469604,-15.722138,2.257742,1000.0,auto,27.625331,2793.469604,-15.722138,2.257742
2,180,10.0,lsqr,6.122439,70.392515,-13.214432,-42.707636,10.0,lsqr,6.122439,...,6.122439,70.392515,-13.214432,-42.707636,10.0,lsqr,6.122439,70.392515,-13.214432,-42.707636
3,200,300.0,sparse_cg,25.117222,3673.148456,-12.420588,-0.367806,300.0,sparse_cg,25.117222,...,25.117222,3673.148456,-12.420588,-0.367806,300.0,sparse_cg,25.117222,3673.148456,-12.420588,-0.367806
4,219,1000.0,lsqr,14.691600,243.907348,-32.865828,-0.261630,1000.0,lsqr,14.691600,...,14.691600,243.907348,-32.865828,-0.261630,1000.0,lsqr,14.691600,243.907348,-32.865828,-0.261630
5,272,1000.0,sparse_cg,4.699557,36.082995,-13.493895,-0.893940,1000.0,sparse_cg,4.699557,...,4.699557,36.082995,-13.493895,-0.893940,1000.0,sparse_cg,4.699557,36.082995,-13.493895,-0.893940
6,273,1000.0,sparse_cg,6.751326,67.919818,-16.976058,2.329422,1000.0,sparse_cg,6.751326,...,6.751326,67.919818,-16.976058,2.329422,1000.0,sparse_cg,6.751326,67.919818,-16.976058,2.329422
7,274,50.0,auto,5.111594,111.953140,-12.770496,8.807380,50.0,auto,5.111594,...,5.111594,111.953140,-12.770496,8.807380,50.0,auto,5.111594,111.953140,-12.770496,8.807380
8,276,1000.0,lsqr,5.325548,41.797325,-14.463591,-10.165540,1000.0,lsqr,5.325548,...,5.325548,41.797325,-14.463591,-10.165540,1000.0,lsqr,5.325548,41.797325,-14.463591,-10.165540
9,328,1000.0,lsqr,4.221523,24.857670,-17.530130,0.569738,1000.0,lsqr,4.221523,...,4.221523,24.857670,-17.530130,0.569738,1000.0,lsqr,4.221523,24.857670,-17.530130,0.569738
10,346,1000.0,sparse_cg,7.224306,74.704239,-24.904486,1.492878,1000.0,sparse_cg,7.224306,...,7.224306,74.704239,-24.904486,1.492878,1000.0,sparse_cg,7.224306,74.704239,-24.904486,1.492878

MAE among datasets:

      mae_0    mae_1    mae_2    mae_3
0   12.2635  12.2635  12.2635  12.2635
1   27.6253  27.6253  27.6253  27.6253
2    6.1224   6.1224   6.1224   6.1224
3   25.1172  25.1172  25.1172  25.1172
4   14.6916  14.6916  14.6916  14.6916
5    4.6996   4.6996   4.6996   4.6996
6    6.7513   6.7513   6.7513   6.7513
7    5.1116   5.1116   5.1116   5.1116
8    5.3255   5.3255   5.3255   5.3255
9    4.2215   4.2215   4.2215   4.2215
10   7.2243   7.2243   7.2243   7.2243

Coefficient 3 : ridge 10.832 +/- 8.362
--------------------------------

Linear_KernelRidge

,DRUG_ID,best_alpha0,mae_0,mse_0,best_alpha1,mae_1,mse_1,best_alpha2,mae_2,mse_2,best_alpha3,mae_3,mse_3
0,170,100.0,16.390397,427.481398,100.0,16.390397,427.481398,100.0,16.390397,427.481398,100.0,16.390397,427.481398
1,173,50.0,29.038471,3081.985281,50.0,29.038471,3081.985281,50.0,29.038471,3081.985281,50.0,29.038471,3081.985281
2,180,5.0,7.773845,98.550924,5.0,7.773845,98.550924,5.0,7.773845,98.550924,5.0,7.773845,98.550924
3,200,50.0,28.748389,4063.119138,50.0,28.748389,4063.119138,50.0,28.748389,4063.119138,50.0,28.748389,4063.119138
4,219,100.0,8.901544,151.636422,100.0,8.901544,151.636422,100.0,8.901544,151.636422,100.0,8.901544,151.636422
5,272,100.0,6.088279,59.113339,100.0,6.088279,59.113339,100.0,6.088279,59.113339,100.0,6.088279,59.113339
6,273,100.0,6.587888,77.936712,100.0,6.587888,77.936712,100.0,6.587888,77.936712,100.0,6.587888,77.936712
7,274,50.0,6.320241,116.327556,50.0,6.320241,116.327556,50.0,6.320241,116.327556,50.0,6.320241,116.327556
8,276,100.0,7.974594,107.422274,100.0,7.974594,107.422274,100.0,7.974594,107.422274,100.0,7.974594,107.422274
9,328,50.0,6.136105,54.006225,50.0,6.136105,54.006225,50.0,6.136105,54.006225,50.0,6.136105,54.006225
10,346,50.0,11.044157,155.212283,50.0,11.044157,155.212283,50.0,11.044157,155.212283,50.0,11.044157,155.212283

MAE among datasets:

      mae_0    mae_1    mae_2    mae_3
0   16.3904  16.3904  16.3904  16.3904
1   29.0385  29.0385  29.0385  29.0385
2    7.7738   7.7738   7.7738   7.7738
3   28.7484  28.7484  28.7484  28.7484
4    8.9015   8.9015   8.9015   8.9015
5    6.0883   6.0883   6.0883   6.0883
6    6.5879   6.5879   6.5879   6.5879
7    6.3202   6.3202   6.3202   6.3202
8    7.9746   7.9746   7.9746   7.9746
9    6.1361   6.1361   6.1361   6.1361
10  11.0442  11.0442  11.0442  11.0442

Coefficient 3 : Linear_KernelRidge 12.273 +/- 8.745
--------------------------------

Sigmoid_KernelRidge

,DRUG_ID,best_alpha0,best_gamma0,best_coef00,mae_0,mse_0,best_alpha1,best_gamma1,best_coef01,mae_1,...,best_alpha2,best_gamma2,best_coef02,mae_2,mse_2,best_alpha3,best_gamma3,best_coef03,mae_3,mse_3
0,170,10.0,0.00001,0.5,11.837909,265.510552,10.0,0.00001,0.5,11.837909,...,10.0,0.00001,0.5,11.837909,265.510552,10.0,0.00001,0.5,11.837909,265.510552
1,173,5.0,0.00001,0.5,28.379017,2956.476833,5.0,0.00001,0.5,28.379017,...,5.0,0.00001,0.5,28.379017,2956.476833,5.0,0.00001,0.5,28.379017,2956.476833
2,180,1.0,0.10000,0.5,8.557939,107.528544,1.0,0.10000,0.5,8.557939,...,1.0,0.10000,0.5,8.557939,107.528544,1.0,0.10000,0.5,8.557939,107.528544
3,200,5.0,0.10000,1.0,25.686862,3736.596050,5.0,0.10000,1.0,25.686862,...,5.0,0.10000,1.0,25.686862,3736.596050,5.0,0.10000,1.0,25.686862,3736.596050
4,219,50.0,0.10000,1.0,4.597500,33.082865,50.0,0.10000,1.0,4.597500,...,50.0,0.10000,1.0,4.597500,33.082865,50.0,0.10000,1.0,4.597500,33.082865
5,272,10.0,0.00001,1.0,4.172047,31.840917,10.0,0.00001,1.0,4.172047,...,10.0,0.00001,1.0,4.172047,31.840917,10.0,0.00001,1.0,4.172047,31.840917
6,273,10.0,0.00001,0.5,5.569762,60.287217,10.0,0.00001,0.5,5.569762,...,10.0,0.00001,0.5,5.569762,60.287217,10.0,0.00001,0.5,5.569762,60.287217
7,274,5.0,0.00010,0.5,5.091891,124.191424,5.0,0.00010,0.5,5.091891,...,5.0,0.00010,0.5,5.091891,124.191424,5.0,0.00010,0.5,5.091891,124.191424
8,276,10.0,0.10000,0.5,5.244614,50.020654,10.0,0.10000,0.5,5.244614,...,10.0,0.10000,0.5,5.244614,50.020654,10.0,0.10000,0.5,5.244614,50.020654
9,328,10.0,0.00001,0.5,3.072656,14.519291,10.0,0.00001,0.5,3.072656,...,10.0,0.00001,0.5,3.072656,14.519291,10.0,0.00001,0.5,3.072656,14.519291
10,346,5.0,0.00001,5.0,6.036065,64.072452,5.0,0.00001,5.0,6.036065,...,5.0,0.00001,5.0,6.036065,64.072452,5.0,0.00001,5.0,6.036065,64.072452

MAE among datasets:

      mae_0    mae_1    mae_2    mae_3
0   11.8379  11.8379  11.8379  11.8379
1   28.3790  28.3790  28.3790  28.3790
2    8.5579   8.5579   8.5579   8.5579
3   25.6869  25.6869  25.6869  25.6869
4    4.5975   4.5975   4.5975   4.5975
5    4.1720   4.1720   4.1720   4.1720
6    5.5698   5.5698   5.5698   5.5698
7    5.0919   5.0919   5.0919   5.0919
8    5.2446   5.2446   5.2446   5.2446
9    3.0727   3.0727   3.0727   3.0727
10   6.0361   6.0361   6.0361   6.0361

Coefficient 3 : Sigmoid_KernelRidge 9.841 +/- 8.844
--------------------------------

RBF_KernelRidge

,DRUG_ID,best_alpha0,best_gamma0,best_coef00,mae_0,mse_0,best_alpha1,best_gamma1,best_coef01,mae_1,...,best_alpha2,best_gamma2,best_coef02,mae_2,mse_2,best_alpha3,best_gamma3,best_coef03,mae_3,mse_3
0,170,10.0,0.01000,0.01,11.743623,216.020724,10.0,0.01000,0.01,11.743623,...,10.0,0.01000,0.01,11.743623,216.020724,10.0,0.01000,0.01,11.743623,216.020724
1,173,5.0,0.01000,0.01,28.240024,2909.840320,5.0,0.01000,0.01,28.240024,...,5.0,0.01000,0.01,28.240024,2909.840320,5.0,0.01000,0.01,28.240024,2909.840320
2,180,0.1,0.01000,0.01,6.437216,73.088446,0.1,0.01000,0.01,6.437216,...,0.1,0.01000,0.01,6.437216,73.088446,0.1,0.01000,0.01,6.437216,73.088446
3,200,10.0,0.00010,0.01,25.707559,3729.071220,10.0,0.00010,0.01,25.707559,...,10.0,0.00010,0.01,25.707559,3729.071220,10.0,0.00010,0.01,25.707559,3729.071220
4,219,50.0,0.00010,0.01,5.030733,36.470128,50.0,0.00010,0.01,5.030733,...,50.0,0.00010,0.01,5.030733,36.470128,50.0,0.00010,0.01,5.030733,36.470128
5,272,10.0,0.00001,0.01,4.242123,32.127326,10.0,0.00001,0.01,4.242123,...,10.0,0.00001,0.01,4.242123,32.127326,10.0,0.00001,0.01,4.242123,32.127326
6,273,10.0,0.00010,0.01,5.923018,60.964180,10.0,0.00010,0.01,5.923018,...,10.0,0.00010,0.01,5.923018,60.964180,10.0,0.00010,0.01,5.923018,60.964180
7,274,10.0,0.00010,0.01,5.049837,123.570623,10.0,0.00010,0.01,5.049837,...,10.0,0.00010,0.01,5.049837,123.570623,10.0,0.00010,0.01,5.049837,123.570623
8,276,10.0,0.00010,0.01,4.873106,40.043053,10.0,0.00010,0.01,4.873106,...,10.0,0.00010,0.01,4.873106,40.043053,10.0,0.00010,0.01,4.873106,40.043053
9,328,10.0,0.00001,0.01,3.202071,16.565644,10.0,0.00001,0.01,3.202071,...,10.0,0.00001,0.01,3.202071,16.565644,10.0,0.00001,0.01,3.202071,16.565644
10,346,5.0,0.00010,0.01,6.045580,64.301700,5.0,0.00010,0.01,6.045580,...,5.0,0.00010,0.01,6.045580,64.301700,5.0,0.00010,0.01,6.045580,64.301700

MAE among datasets:

      mae_0    mae_1    mae_2    mae_3
0   11.7436  11.7436  11.7436  11.7436
1   28.2400  28.2400  28.2400  28.2400
2    6.4372   6.4372   6.4372   6.4372
3   25.7076  25.7076  25.7076  25.7076
4    5.0307   5.0307   5.0307   5.0307
5    4.2421   4.2421   4.2421   4.2421
6    5.9230   5.9230   5.9230   5.9230
7    5.0498   5.0498   5.0498   5.0498
8    4.8731   4.8731   4.8731   4.8731
9    3.2021   3.2021   3.2021   3.2021
10   6.0456   6.0456   6.0456   6.0456

Coefficient 3 : RBF_KernelRidge 9.681 +/- 8.838
--------------------------------

PolynomialKernelRidge

,DRUG_ID,best_alpha0,best_gamma0,best_coef00,best_degree0,mae_0,mse_0,best_alpha1,best_gamma1,best_coef01,...,best_coef02,best_degree2,mae_2,mse_2,best_alpha3,best_gamma3,best_coef03,best_degree3,mae_3,mse_3
0,170,100.0,0.00001,5.00,1.0,11.815230,261.877180,100.0,0.00001,5.00,...,5.00,1.0,11.815230,261.877180,100.0,0.00001,5.00,1.0,11.815230,261.877180
1,173,50.0,0.00001,5.00,1.0,28.324178,2946.414997,50.0,0.00001,5.00,...,5.00,1.0,28.324178,2946.414997,50.0,0.00001,5.00,1.0,28.324178,2946.414997
2,180,50.0,1.00000,5.00,1.0,7.250647,86.205980,50.0,1.00000,5.00,...,5.00,1.0,7.250647,86.205980,50.0,1.00000,5.00,1.0,7.250647,86.205980
3,200,0.1,0.00010,0.01,1.0,25.830626,3750.133453,0.1,0.00010,0.01,...,0.01,1.0,25.830626,3750.133453,0.1,0.00010,0.01,1.0,25.830626,3750.133453
4,219,0.5,0.00010,0.10,2.0,5.027260,36.004164,0.5,0.00010,0.10,...,0.10,2.0,5.027260,36.004164,0.5,0.00010,0.10,2.0,5.027260,36.004164
5,272,50.0,0.00001,5.00,1.0,4.242900,32.134476,50.0,0.00001,5.00,...,5.00,1.0,4.242900,32.134476,50.0,0.00001,5.00,1.0,4.242900,32.134476
6,273,100.0,0.00001,5.00,1.0,5.588541,60.084068,100.0,0.00001,5.00,...,5.00,1.0,5.588541,60.084068,100.0,0.00001,5.00,1.0,5.588541,60.084068
7,274,50.0,0.01000,5.00,1.0,5.020019,122.830943,50.0,0.01000,5.00,...,5.00,1.0,5.020019,122.830943,50.0,0.01000,5.00,1.0,5.020019,122.830943
8,276,10.0,0.01000,0.50,1.0,5.195439,49.995390,10.0,0.01000,0.50,...,0.50,1.0,5.195439,49.995390,10.0,0.01000,0.50,1.0,5.195439,49.995390
9,328,1.0,0.00001,0.50,4.0,3.003591,14.828619,1.0,0.00001,0.50,...,0.50,4.0,3.003591,14.828619,1.0,0.00001,0.50,4.0,3.003591,14.828619
10,346,5.0,0.00001,1.00,1.0,6.036018,64.070987,5.0,0.00001,1.00,...,1.00,1.0,6.036018,64.070987,5.0,0.00001,1.00,1.0,6.036018,64.070987

MAE among datasets:

      mae_0    mae_1    mae_2    mae_3
0   11.8152  11.8152  11.8152  11.8152
1   28.3242  28.3242  28.3242  28.3242
2    7.2506   7.2506   7.2506   7.2506
3   25.8306  25.8306  25.8306  25.8306
4    5.0273   5.0273   5.0273   5.0273
5    4.2429   4.2429   4.2429   4.2429
6    5.5885   5.5885   5.5885   5.5885
7    5.0200   5.0200   5.0200   5.0200
8    5.1954   5.1954   5.1954   5.1954
9    3.0036   3.0036   3.0036   3.0036
10   6.0360   6.0360   6.0360   6.0360

Coefficient 3 : PolynomialKernelRidge 9.758 +/- 8.868
--------------------------------

Linear_SVR

,DRUG_ID,best_C0,best_epsilon0,mae_0,mse_0,best_C1,best_epsilon1,mae_1,mse_1,best_C2,best_epsilon2,mae_2,mse_2,best_C3,best_epsilon3,mae_3,mse_3
0,170,0.10,5.000,10.680179,228.716936,0.10,5.000,10.680179,228.716936,0.10,5.000,10.680179,228.716936,0.10,5.000,10.680179,228.716936
1,173,0.10,0.001,27.540461,2855.156225,0.10,0.001,27.540461,2855.156225,0.10,0.001,27.540461,2855.156225,0.10,0.001,27.540461,2855.156225
2,180,5.00,5.000,6.753849,72.693796,5.00,5.000,6.753849,72.693796,5.00,5.000,6.753849,72.693796,5.00,5.000,6.753849,72.693796
3,200,0.01,0.100,25.621644,3727.593488,0.01,0.100,25.621644,3727.593488,0.01,0.100,25.621644,3727.593488,0.01,0.100,25.621644,3727.593488
4,219,0.10,1.000,4.238148,27.013766,0.10,1.000,4.238148,27.013766,0.10,1.000,4.238148,27.013766,0.10,1.000,4.238148,27.013766
5,272,0.01,2.000,4.113247,31.044021,0.01,2.000,4.113247,31.044021,0.01,2.000,4.113247,31.044021,0.01,2.000,4.113247,31.044021
6,273,0.01,2.000,5.591612,59.658762,0.01,2.000,5.591612,59.658762,0.01,2.000,5.591612,59.658762,0.01,2.000,5.591612,59.658762
7,274,0.10,0.100,5.370939,119.013453,0.10,0.100,5.370939,119.013453,0.10,0.100,5.370939,119.013453,0.10,0.100,5.370939,119.013453
8,276,0.01,1.000,4.710855,42.386410,0.01,1.000,4.710855,42.386410,0.01,1.000,4.710855,42.386410,0.01,1.000,4.710855,42.386410
9,328,0.01,2.000,3.052477,15.446765,0.01,2.000,3.052477,15.446765,0.01,2.000,3.052477,15.446765,0.01,2.000,3.052477,15.446765
10,346,0.01,0.001,5.950530,62.235846,0.01,0.001,5.950530,62.235846,0.01,0.001,5.950530,62.235846,0.01,0.001,5.950530,62.235846

MAE among datasets:

      mae_0    mae_1    mae_2    mae_3
0   10.6802  10.6802  10.6802  10.6802
1   27.5405  27.5405  27.5405  27.5405
2    6.7538   6.7538   6.7538   6.7538
3   25.6216  25.6216  25.6216  25.6216
4    4.2381   4.2381   4.2381   4.2381
5    4.1132   4.1132   4.1132   4.1132
6    5.5916   5.5916   5.5916   5.5916
7    5.3709   5.3709   5.3709   5.3709
8    4.7109   4.7109   4.7109   4.7109
9    3.0525   3.0525   3.0525   3.0525
10   5.9505   5.9505   5.9505   5.9505

Coefficient 3 : Linear_SVR 9.42 +/- 8.72
--------------------------------

Sigmoid_SVR

,DRUG_ID,best_C0,best_epsilon0,best_coef00,mae_0,mse_0,best_C1,best_epsilon1,best_coef01,mae_1,...,best_C2,best_epsilon2,best_coef02,mae_2,mse_2,best_C3,best_epsilon3,best_coef03,mae_3,mse_3
0,170,10.0,2.000,0.01,11.363237,231.382902,10.0,2.000,0.01,11.354348,...,10.0,2.000,0.01,11.362074,231.375095,10.0,2.000,0.01,11.353615,231.316381
1,173,100.0,0.001,1.00,28.394647,3094.781461,100.0,0.001,1.00,28.353472,...,100.0,0.001,1.00,28.389229,3093.698714,100.0,0.001,1.00,28.350258,3085.954845
2,180,10.0,2.000,0.10,5.932372,74.876732,10.0,2.000,0.10,5.935750,...,10.0,2.000,0.10,5.931787,74.862813,10.0,2.000,0.10,5.936218,74.630525
3,200,5.0,0.001,0.10,25.415434,3716.786853,5.0,0.001,0.10,25.415294,...,5.0,0.001,0.10,25.415432,3716.807616,5.0,0.001,0.10,25.415275,3716.971618
4,219,10.0,0.001,0.10,4.018504,24.694861,10.0,0.001,0.10,4.015352,...,10.0,0.001,0.10,4.018096,24.692398,10.0,0.001,0.10,4.015091,24.677886
5,272,0.1,2.000,5.00,4.186068,31.874892,0.1,2.000,5.00,4.186068,...,0.1,2.000,5.00,4.186068,31.874892,0.1,2.000,5.00,4.186068,31.874892
6,273,500.0,2.000,5.00,5.606755,59.972041,500.0,2.000,5.00,5.606744,...,500.0,2.000,5.00,5.606767,59.971917,500.0,2.000,5.00,5.606735,59.972025
7,274,10.0,1.000,1.00,5.113346,123.995716,10.0,1.000,1.00,5.112385,...,10.0,1.000,1.00,5.113154,123.989222,10.0,1.000,1.00,5.112339,123.942641
8,276,1.0,0.001,0.10,4.756358,44.411445,1.0,0.001,0.10,4.755503,...,1.0,0.001,0.10,4.756273,44.409885,1.0,0.001,0.10,4.755395,44.396720
9,328,10.0,0.100,0.50,3.855564,23.229275,10.0,0.001,0.50,3.824255,...,10.0,0.001,0.50,3.827367,22.931772,10.0,0.010,0.50,3.825889,22.938696
10,346,0.1,0.100,5.00,6.021040,64.007561,0.1,0.100,5.00,6.021040,...,0.1,0.100,5.00,6.021040,64.007561,0.1,0.100,5.00,6.021040,64.007561

MAE among datasets:

      mae_0    mae_1    mae_2    mae_3
0   11.3632  11.3543  11.3621  11.3536
1   28.3946  28.3535  28.3892  28.3503
2    5.9324   5.9358   5.9318   5.9362
3   25.4154  25.4153  25.4154  25.4153
4    4.0185   4.0154   4.0181   4.0151
5    4.1861   4.1861   4.1861   4.1861
6    5.6068   5.6067   5.6068   5.6067
7    5.1133   5.1124   5.1132   5.1123
8    4.7564   4.7555   4.7563   4.7554
9    3.8556   3.8243   3.8274   3.8259
10   6.0210   6.0210   6.0210   6.0210

Coefficient 3 : Sigmoid_SVR 9.507 +/- 8.856
--------------------------------

RBF_SVR

,DRUG_ID,best_C0,best_epsilon0,best_coef00,mae_0,mse_0,best_C1,best_epsilon1,best_coef01,mae_1,...,best_C2,best_epsilon2,best_coef02,mae_2,mse_2,best_C3,best_epsilon3,best_coef03,mae_3,mse_3
0,170,5.0,2.000,0.01,11.227940,235.494199,5.0,2.000,0.01,11.226170,...,5.0,2.000,0.01,11.227684,235.496000,5.0,2.000,0.01,11.226011,235.521321
1,173,5.0,0.001,0.01,27.731948,2864.549485,5.0,0.001,0.01,27.731194,...,5.0,0.001,0.01,27.731847,2864.531551,5.0,0.001,0.01,27.731142,2864.416384
2,180,0.5,1.000,0.01,6.465487,86.898157,0.5,1.000,0.01,6.465498,...,0.5,1.000,0.01,6.465488,86.898039,0.5,1.000,0.01,6.465499,86.897168
3,200,1.0,2.000,0.01,25.809612,3748.575568,1.0,2.000,0.01,25.809132,...,1.0,2.000,0.01,25.809546,3748.567997,1.0,2.000,0.01,25.809092,3748.517989
4,219,0.1,1.000,0.01,4.900450,35.876523,0.1,1.000,0.01,4.900395,...,0.1,1.000,0.01,4.900443,35.876392,0.1,1.000,0.01,4.900390,35.875426
5,272,0.1,1.000,0.01,4.147623,31.799783,0.1,1.000,0.01,4.147629,...,0.1,1.000,0.01,4.147623,31.799755,0.1,1.000,0.01,4.147624,31.799548
6,273,0.1,2.000,0.01,5.603984,59.929048,0.1,2.000,0.01,5.604030,...,0.1,2.000,0.01,5.603990,59.929090,0.1,2.000,0.01,5.604034,59.929400
7,274,10.0,0.100,0.01,4.919152,110.455787,10.0,0.100,0.01,4.922997,...,10.0,0.100,0.01,4.919637,110.464116,10.0,0.100,0.01,4.923300,110.535474
8,276,1.0,0.001,0.01,4.749710,43.435370,1.0,0.001,0.01,4.749563,...,1.0,0.001,0.01,4.749643,43.435009,1.0,0.001,0.01,4.749555,43.437281
9,328,0.1,0.001,0.01,3.010148,14.645299,0.1,0.001,0.01,3.010159,...,0.1,0.001,0.01,3.010149,14.645274,0.1,0.001,0.01,3.010160,14.645086
10,346,0.1,0.010,0.01,6.033931,64.069651,0.1,0.010,0.01,6.033939,...,0.1,0.010,0.01,6.033932,64.069673,0.1,0.010,0.01,6.033939,64.069834

MAE among datasets:

      mae_0    mae_1    mae_2    mae_3
0   11.2279  11.2262  11.2277  11.2260
1   27.7319  27.7312  27.7318  27.7311
2    6.4655   6.4655   6.4655   6.4655
3   25.8096  25.8091  25.8095  25.8091
4    4.9005   4.9004   4.9004   4.9004
5    4.1476   4.1476   4.1476   4.1476
6    5.6040   5.6040   5.6040   5.6040
7    4.9192   4.9230   4.9196   4.9233
8    4.7497   4.7496   4.7496   4.7496
9    3.0101   3.0102   3.0101   3.0102
10   6.0339   6.0339   6.0339   6.0339

Coefficient 3 : RBF_SVR 9.509 +/- 8.793
--------------------------------

Polynomial_SVR

,DRUG_ID,best_C0,best_epsilon0,best_coef00,best_degree0,mae_0,mse_0,best_C1,best_epsilon1,best_coef01,...,best_coef02,best_degree2,mae_2,mse_2,best_C3,best_epsilon3,best_coef03,best_degree3,mae_3,mse_3
0,170,0.1,0.001,0.01,1.0,11.827324,265.841558,0.1,0.001,0.01,...,0.01,1.0,11.827371,265.843492,0.1,0.001,0.01,1.0,11.827719,265.857711
1,173,0.1,0.001,0.01,1.0,28.292027,2943.087173,0.1,0.001,0.01,...,0.01,1.0,28.292048,2943.088640,0.1,0.001,0.01,1.0,28.292207,2943.099420
2,180,0.1,0.001,0.01,1.0,6.499308,88.486812,0.1,0.001,0.01,...,0.01,1.0,6.499339,88.487635,0.1,0.001,0.01,1.0,6.499569,88.493694
3,200,0.1,0.001,0.01,1.0,25.565439,3714.728510,0.1,0.001,0.01,...,0.01,1.0,25.565459,3714.727681,0.1,0.001,0.01,1.0,25.565606,3714.721589
4,219,0.1,0.001,0.01,1.0,4.735037,35.147878,0.1,0.001,0.01,...,0.01,1.0,4.735051,35.148605,0.1,0.001,0.01,1.0,4.735149,35.153954
5,272,0.1,0.001,0.01,1.0,4.182994,31.908310,0.1,0.001,0.01,...,0.01,1.0,4.182991,31.908236,0.1,0.001,0.01,1.0,4.182972,31.907700
6,273,0.1,0.001,0.01,1.0,5.566210,60.222437,0.1,0.001,0.01,...,0.01,1.0,5.566213,60.222510,0.1,0.001,0.01,1.0,5.566234,60.223052
7,274,0.1,0.001,0.01,1.0,5.093117,124.022810,0.1,0.001,0.01,...,0.01,1.0,5.093111,124.023114,0.1,0.001,0.01,1.0,5.093067,124.025350
8,276,0.1,0.001,0.01,1.0,4.696755,42.262184,0.1,0.001,0.01,...,0.01,1.0,4.696775,42.261879,0.1,0.001,0.01,1.0,4.696920,42.259632
9,328,0.1,0.001,0.01,1.0,3.002530,14.604848,0.1,0.001,0.01,...,0.01,1.0,3.002548,14.604818,0.1,0.001,0.01,1.0,3.002621,14.604279
10,346,0.1,0.001,0.01,1.0,6.017918,63.666643,0.1,0.001,0.01,...,0.01,1.0,6.017950,63.667154,0.1,0.001,0.01,1.0,6.018191,63.670899

MAE among datasets:

      mae_0    mae_1    mae_2    mae_3
0   11.8273  11.8277  11.8274  11.8277
1   28.2920  28.2922  28.2920  28.2922
2    6.4993   6.4995   6.4993   6.4996
3   25.5654  25.5656  25.5655  25.5656
4    4.7350   4.7351   4.7351   4.7351
5    4.1830   4.1830   4.1830   4.1830
6    5.5662   5.5662   5.5662   5.5662
7    5.0931   5.0931   5.0931   5.0931
8    4.6968   4.6969   4.6968   4.6969
9    3.0025   3.0026   3.0025   3.0026
10   6.0179   6.0182   6.0180   6.0182

Coefficient 3 : Polynomial_SVR 9.589 +/- 8.882
--------------------------------

In [15]:
i=4
for model in model_names:
    print(model)
    df = pd.read_csv(_FOLDER+ model+"_coef"+str(i)+".csv").rename(columns={"Unnamed: 0": "DRUG_ID"}) 
    display(df)
    print("MAE among datasets:")
    display(round(df[["mae_"+str(i) for i in range(4)]], 4))
    print("Coefficient", i, ":", model, round(df["mae_3"].mean(), 3), "+/-", round(df["mae_3"].std(),3))
    print("--------------------------------\n")

lasso

,DRUG_ID,best_alpha0,mae_0,mse_0,intercept_0,sum_coef_0,best_alpha1,mae_1,mse_1,intercept_1,...,best_alpha2,mae_2,mse_2,intercept_2,sum_coef_2,best_alpha3,mae_3,mse_3,intercept_3,sum_coef_3
0,170,0.01,0.013103,0.000311,0.016271,0.000000,0.01,0.013103,0.000311,0.016271,...,0.01,0.013103,0.000311,0.016271,0.000000,0.01,0.013103,0.000311,0.016271,0.000000
1,173,0.01,0.177209,0.087881,0.069179,-5.189441,0.01,0.177209,0.087881,0.069179,...,0.01,0.177209,0.087881,0.069179,-5.189441,0.01,0.177209,0.087881,0.069179,-5.189441
2,180,0.01,0.133481,0.023014,0.211451,-0.026607,0.01,0.133481,0.023014,0.211451,...,0.01,0.133481,0.023014,0.211451,-0.026607,0.01,0.133481,0.023014,0.211451,-0.026607
3,200,0.10,0.030296,0.001756,0.018590,0.000000,0.10,0.030296,0.001756,0.018590,...,0.10,0.030296,0.001756,0.018590,0.000000,0.10,0.030296,0.001756,0.018590,0.000000
4,219,0.10,0.086981,0.010686,0.169612,0.000000,0.10,0.086981,0.010686,0.169612,...,0.10,0.086981,0.010686,0.169612,0.000000,0.10,0.086981,0.010686,0.169612,0.000000
5,272,0.10,0.065411,0.009340,0.037397,0.000000,0.10,0.065411,0.009340,0.037397,...,0.10,0.065411,0.009340,0.037397,0.000000,0.10,0.065411,0.009340,0.037397,0.000000
6,273,0.10,0.051902,0.006758,0.033392,0.000000,0.10,0.051902,0.006758,0.033392,...,0.10,0.051902,0.006758,0.033392,0.000000,0.10,0.051902,0.006758,0.033392,0.000000
7,274,0.01,0.053911,0.005869,0.068939,0.013154,0.01,0.053911,0.005869,0.068939,...,0.01,0.053911,0.005869,0.068939,0.013154,0.01,0.053911,0.005869,0.068939,0.013154
8,276,0.10,0.032060,0.001876,0.017873,0.000000,0.10,0.032060,0.001876,0.017873,...,0.10,0.032060,0.001876,0.017873,0.000000,0.10,0.032060,0.001876,0.017873,0.000000
9,328,0.10,0.102795,0.013503,0.188054,0.000000,0.10,0.102795,0.013503,0.188054,...,0.10,0.102795,0.013503,0.188054,0.000000,0.10,0.102795,0.013503,0.188054,0.000000
10,346,0.10,0.110222,0.016750,0.137457,0.000000,0.10,0.110222,0.016750,0.137457,...,0.10,0.110222,0.016750,0.137457,0.000000,0.10,0.110222,0.016750,0.137457,0.000000

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.0131  0.0131  0.0131  0.0131
1   0.1772  0.1772  0.1772  0.1772
2   0.1335  0.1335  0.1335  0.1335
3   0.0303  0.0303  0.0303  0.0303
4   0.0870  0.0870  0.0870  0.0870
5   0.0654  0.0654  0.0654  0.0654
6   0.0519  0.0519  0.0519  0.0519
7   0.0539  0.0539  0.0539  0.0539
8   0.0321  0.0321  0.0321  0.0321
9   0.1028  0.1028  0.1028  0.1028
10  0.1102  0.1102  0.1102  0.1102

Coefficient 4 : lasso 0.078 +/- 0.05
--------------------------------

ridge

,DRUG_ID,best_alpha0,best_solver0,mae_0,mse_0,intercept_0,sum_coef_0,best_alpha1,best_solver1,mae_1,...,mae_2,mse_2,intercept_2,sum_coef_2,best_alpha3,best_solver3,mae_3,mse_3,intercept_3,sum_coef_3
0,170,300.0,sparse_cg,0.013423,0.000320,0.017007,0.030183,300.0,sparse_cg,0.013423,...,0.013423,0.000320,0.017007,0.030183,300.0,sparse_cg,0.013423,0.000320,0.017007,0.030183
1,173,1000.0,sparse_cg,0.204828,0.086797,-0.076818,0.173504,1000.0,sparse_cg,0.204828,...,0.204828,0.086797,-0.076818,0.173504,1000.0,sparse_cg,0.204828,0.086797,-0.076818,0.173504
2,180,5.0,svd,0.129502,0.025106,0.217854,0.037909,5.0,auto,0.129502,...,0.129502,0.025106,0.217854,0.037909,5.0,auto,0.129502,0.025106,0.217854,0.037909
3,200,500.0,auto,0.028258,0.001657,0.014083,0.025237,500.0,auto,0.028258,...,0.028258,0.001657,0.014083,0.025237,500.0,auto,0.028258,0.001657,0.014083,0.025237
4,219,1000.0,lsqr,0.085895,0.010471,0.170814,0.005476,1000.0,lsqr,0.085895,...,0.085895,0.010471,0.170814,0.005476,1000.0,lsqr,0.085895,0.010471,0.170814,0.005476
5,272,1000.0,lsqr,0.063242,0.008964,0.031760,0.065156,1000.0,lsqr,0.063242,...,0.063242,0.008964,0.031760,0.065156,1000.0,lsqr,0.063242,0.008964,0.031760,0.065156
6,273,1000.0,lsqr,0.051792,0.006625,0.030844,0.014831,1000.0,lsqr,0.051792,...,0.051792,0.006625,0.030844,0.014831,1000.0,lsqr,0.051792,0.006625,0.030844,0.014831
7,274,100.0,sparse_cg,0.061772,0.007156,0.050943,0.155354,100.0,sparse_cg,0.061772,...,0.061772,0.007156,0.050943,0.155354,100.0,sparse_cg,0.061772,0.007156,0.050943,0.155354
8,276,1000.0,sparse_cg,0.032114,0.001802,0.014876,0.019107,1000.0,sparse_cg,0.032114,...,0.032114,0.001802,0.014876,0.019107,1000.0,sparse_cg,0.032114,0.001802,0.014876,0.019107
9,328,5.0,lsqr,0.122399,0.020261,0.148966,0.538021,5.0,lsqr,0.122399,...,0.122399,0.020261,0.148966,0.538021,5.0,lsqr,0.122399,0.020261,0.148966,0.538021
10,346,300.0,sparse_cg,0.110220,0.016727,0.136482,0.026023,300.0,sparse_cg,0.110220,...,0.110220,0.016727,0.136482,0.026023,300.0,sparse_cg,0.110220,0.016727,0.136482,0.026023

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.0134  0.0134  0.0134  0.0134
1   0.2048  0.2048  0.2048  0.2048
2   0.1295  0.1295  0.1295  0.1295
3   0.0283  0.0283  0.0283  0.0283
4   0.0859  0.0859  0.0859  0.0859
5   0.0632  0.0632  0.0632  0.0632
6   0.0518  0.0518  0.0518  0.0518
7   0.0618  0.0618  0.0618  0.0618
8   0.0321  0.0321  0.0321  0.0321
9   0.1224  0.1224  0.1224  0.1224
10  0.1102  0.1102  0.1102  0.1102

Coefficient 4 : ridge 0.082 +/- 0.056
--------------------------------

Linear_KernelRidge

,DRUG_ID,best_alpha0,mae_0,mse_0,best_alpha1,mae_1,mse_1,best_alpha2,mae_2,mse_2,best_alpha3,mae_3,mse_3
0,170,500.0,0.013624,0.000370,500.0,0.013624,0.000370,500.0,0.013624,0.000370,500.0,0.013624,0.000370
1,173,500.0,0.164555,0.081791,500.0,0.164555,0.081791,500.0,0.164555,0.081791,500.0,0.164555,0.081791
2,180,100.0,0.104410,0.017520,100.0,0.104410,0.017520,100.0,0.104410,0.017520,100.0,0.104410,0.017520
3,200,500.0,0.032339,0.002029,500.0,0.032339,0.002029,500.0,0.032339,0.002029,500.0,0.032339,0.002029
4,219,50.0,0.080798,0.008672,50.0,0.080798,0.008672,50.0,0.080798,0.008672,50.0,0.080798,0.008672
5,272,500.0,0.057813,0.008939,500.0,0.057813,0.008939,500.0,0.057813,0.008939,500.0,0.057813,0.008939
6,273,500.0,0.052114,0.007012,500.0,0.052114,0.007012,500.0,0.052114,0.007012,500.0,0.052114,0.007012
7,274,500.0,0.064610,0.008466,500.0,0.064610,0.008466,500.0,0.064610,0.008466,500.0,0.064610,0.008466
8,276,500.0,0.032489,0.001689,500.0,0.032489,0.001689,500.0,0.032489,0.001689,500.0,0.032489,0.001689
9,328,10.0,0.108351,0.022084,10.0,0.108351,0.022084,10.0,0.108351,0.022084,10.0,0.108351,0.022084
10,346,50.0,0.124593,0.025568,50.0,0.124593,0.025568,50.0,0.124593,0.025568,50.0,0.124593,0.025568

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.0136  0.0136  0.0136  0.0136
1   0.1646  0.1646  0.1646  0.1646
2   0.1044  0.1044  0.1044  0.1044
3   0.0323  0.0323  0.0323  0.0323
4   0.0808  0.0808  0.0808  0.0808
5   0.0578  0.0578  0.0578  0.0578
6   0.0521  0.0521  0.0521  0.0521
7   0.0646  0.0646  0.0646  0.0646
8   0.0325  0.0325  0.0325  0.0325
9   0.1084  0.1084  0.1084  0.1084
10  0.1246  0.1246  0.1246  0.1246

Coefficient 4 : Linear_KernelRidge 0.076 +/- 0.046
--------------------------------

Sigmoid_KernelRidge

,DRUG_ID,best_alpha0,best_gamma0,best_coef00,mae_0,mse_0,best_alpha1,best_gamma1,best_coef01,mae_1,...,best_alpha2,best_gamma2,best_coef02,mae_2,mse_2,best_alpha3,best_gamma3,best_coef03,mae_3,mse_3
0,170,10.0,0.01,0.10,0.012991,0.000331,10.0,0.01,0.10,0.012991,...,10.0,0.01,0.10,0.012991,0.000331,10.0,0.01,0.10,0.012991,0.000331
1,173,10.0,0.01,0.01,0.166979,0.082509,10.0,0.01,0.01,0.166979,...,10.0,0.01,0.01,0.166979,0.082509,10.0,0.01,0.01,0.166979,0.082509
2,180,1.0,1.00,1.00,0.128268,0.022553,1.0,1.00,1.00,0.128268,...,1.0,1.00,1.00,0.128268,0.022553,1.0,1.00,1.00,0.128268,0.022553
3,200,5.0,0.10,1.00,0.028287,0.001576,5.0,0.10,1.00,0.028287,...,5.0,0.10,1.00,0.028287,0.001576,5.0,0.10,1.00,0.028287,0.001576
4,219,10.0,1.00,0.01,0.081926,0.009044,10.0,1.00,0.01,0.081926,...,10.0,1.00,0.01,0.081926,0.009044,10.0,1.00,0.01,0.081926,0.009044
5,272,5.0,1.00,1.00,0.066195,0.009821,5.0,1.00,1.00,0.066195,...,5.0,1.00,1.00,0.066195,0.009821,5.0,1.00,1.00,0.066195,0.009821
6,273,100.0,0.10,0.01,0.054903,0.007621,100.0,0.10,0.01,0.054903,...,100.0,0.10,0.01,0.054903,0.007621,100.0,0.10,0.01,0.054903,0.007621
7,274,10.0,0.01,0.01,0.063787,0.008661,10.0,0.01,0.01,0.063787,...,10.0,0.01,0.01,0.063787,0.008661,10.0,0.01,0.01,0.063787,0.008661
8,276,50.0,0.10,0.01,0.031222,0.001663,50.0,0.10,0.01,0.031222,...,50.0,0.10,0.01,0.031222,0.001663,50.0,0.10,0.01,0.031222,0.001663
9,328,0.1,0.01,0.10,0.113360,0.018915,0.1,0.01,0.10,0.113360,...,0.1,0.01,0.10,0.113360,0.018915,0.1,0.01,0.10,0.113360,0.018915
10,346,5.0,0.10,0.10,0.118103,0.022370,5.0,0.10,0.10,0.118103,...,5.0,0.10,0.10,0.118103,0.022370,5.0,0.10,0.10,0.118103,0.022370

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.0130  0.0130  0.0130  0.0130
1   0.1670  0.1670  0.1670  0.1670
2   0.1283  0.1283  0.1283  0.1283
3   0.0283  0.0283  0.0283  0.0283
4   0.0819  0.0819  0.0819  0.0819
5   0.0662  0.0662  0.0662  0.0662
6   0.0549  0.0549  0.0549  0.0549
7   0.0638  0.0638  0.0638  0.0638
8   0.0312  0.0312  0.0312  0.0312
9   0.1134  0.1134  0.1134  0.1134
10  0.1181  0.1181  0.1181  0.1181

Coefficient 4 : Sigmoid_KernelRidge 0.079 +/- 0.048
--------------------------------

RBF_KernelRidge

,DRUG_ID,best_alpha0,best_gamma0,best_coef00,mae_0,mse_0,best_alpha1,best_gamma1,best_coef01,mae_1,...,best_alpha2,best_gamma2,best_coef02,mae_2,mse_2,best_alpha3,best_gamma3,best_coef03,mae_3,mse_3
0,170,50.0,0.00001,0.01,0.012896,0.000312,50.0,0.00001,0.01,0.012896,...,50.0,0.00001,0.01,0.012896,0.000312,50.0,0.00001,0.01,0.012896,0.000312
1,173,0.1,1.00000,0.01,0.170442,0.083311,0.1,1.00000,0.01,0.170442,...,0.1,1.00000,0.01,0.170442,0.083311,0.1,1.00000,0.01,0.170442,0.083311
2,180,10.0,0.00010,0.01,0.102824,0.016039,10.0,0.00010,0.01,0.102824,...,10.0,0.00010,0.01,0.102824,0.016039,10.0,0.00010,0.01,0.102824,0.016039
3,200,0.1,0.00010,0.01,0.028273,0.001659,0.1,0.00010,0.01,0.028273,...,0.1,0.00010,0.01,0.028273,0.001659,0.1,0.00010,0.01,0.028273,0.001659
4,219,5.0,0.00001,0.01,0.084389,0.010046,5.0,0.00001,0.01,0.084389,...,5.0,0.00001,0.01,0.084389,0.010046,5.0,0.00001,0.01,0.084389,0.010046
5,272,10.0,0.00001,0.01,0.063613,0.009384,10.0,0.00001,0.01,0.063613,...,10.0,0.00001,0.01,0.063613,0.009384,10.0,0.00001,0.01,0.063613,0.009384
6,273,50.0,0.01000,0.01,0.054726,0.007467,50.0,0.01000,0.01,0.054726,...,50.0,0.01000,0.01,0.054726,0.007467,50.0,0.01000,0.01,0.054726,0.007467
7,274,100.0,0.00001,0.01,0.059256,0.007793,100.0,0.00001,0.01,0.059256,...,100.0,0.00001,0.01,0.059256,0.007793,100.0,0.00001,0.01,0.059256,0.007793
8,276,50.0,0.00001,0.01,0.031116,0.001751,50.0,0.00001,0.01,0.031116,...,50.0,0.00001,0.01,0.031116,0.001751,50.0,0.00001,0.01,0.031116,0.001751
9,328,0.1,0.00010,0.01,0.103922,0.013692,0.1,0.00010,0.01,0.103922,...,0.1,0.00010,0.01,0.103922,0.013692,0.1,0.00010,0.01,0.103922,0.013692
10,346,10.0,0.00001,0.01,0.110214,0.019048,10.0,0.00001,0.01,0.110214,...,10.0,0.00001,0.01,0.110214,0.019048,10.0,0.00001,0.01,0.110214,0.019048

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.0129  0.0129  0.0129  0.0129
1   0.1704  0.1704  0.1704  0.1704
2   0.1028  0.1028  0.1028  0.1028
3   0.0283  0.0283  0.0283  0.0283
4   0.0844  0.0844  0.0844  0.0844
5   0.0636  0.0636  0.0636  0.0636
6   0.0547  0.0547  0.0547  0.0547
7   0.0593  0.0593  0.0593  0.0593
8   0.0311  0.0311  0.0311  0.0311
9   0.1039  0.1039  0.1039  0.1039
10  0.1102  0.1102  0.1102  0.1102

Coefficient 4 : RBF_KernelRidge 0.075 +/- 0.046
--------------------------------

PolynomialKernelRidge

,DRUG_ID,best_alpha0,best_gamma0,best_coef00,best_degree0,mae_0,mse_0,best_alpha1,best_gamma1,best_coef01,...,best_coef02,best_degree2,mae_2,mse_2,best_alpha3,best_gamma3,best_coef03,best_degree3,mae_3,mse_3
0,170,5.0,0.01000,0.50,4.0,0.012921,0.000331,5.0,0.01000,0.50,...,0.50,4.0,0.012921,0.000331,5.0,0.01000,0.50,4.0,0.012921,0.000331
1,173,50.0,0.10000,0.01,2.0,0.164358,0.082885,50.0,0.10000,0.01,...,0.01,2.0,0.164358,0.082885,50.0,0.10000,0.01,2.0,0.164358,0.082885
2,180,5.0,0.01000,0.50,2.0,0.097763,0.014998,5.0,0.01000,0.50,...,0.50,2.0,0.097763,0.014998,5.0,0.01000,0.50,2.0,0.097763,0.014998
3,200,0.5,0.00010,5.00,2.0,0.028258,0.001657,0.5,0.00010,5.00,...,5.00,2.0,0.028258,0.001657,0.5,0.00010,5.00,2.0,0.028258,0.001657
4,219,5.0,0.00001,1.00,1.0,0.084396,0.010046,5.0,0.00001,1.00,...,1.00,1.0,0.084396,0.010046,5.0,0.00001,1.00,1.0,0.084396,0.010046
5,272,10.0,0.01000,0.50,2.0,0.058855,0.009019,10.0,0.01000,0.50,...,0.50,2.0,0.058855,0.009019,10.0,0.01000,0.50,2.0,0.058855,0.009019
6,273,100.0,0.10000,0.01,1.0,0.054047,0.007438,100.0,0.10000,0.01,...,0.01,1.0,0.054047,0.007438,100.0,0.10000,0.01,1.0,0.054047,0.007438
7,274,100.0,0.10000,0.50,2.0,0.068730,0.009182,100.0,0.10000,0.50,...,0.50,2.0,0.068730,0.009182,100.0,0.10000,0.50,2.0,0.068730,0.009182
8,276,100.0,0.10000,0.01,1.0,0.031975,0.001703,100.0,0.10000,0.01,...,0.01,1.0,0.031975,0.001703,100.0,0.10000,0.01,1.0,0.031975,0.001703
9,328,0.5,0.10000,1.00,1.0,0.121010,0.020225,0.5,0.10000,1.00,...,1.00,1.0,0.121010,0.020225,0.5,0.10000,1.00,1.0,0.121010,0.020225
10,346,10.0,0.01000,1.00,4.0,0.111767,0.019781,10.0,0.01000,1.00,...,1.00,4.0,0.111767,0.019781,10.0,0.01000,1.00,4.0,0.111767,0.019781

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.0129  0.0129  0.0129  0.0129
1   0.1644  0.1644  0.1644  0.1644
2   0.0978  0.0978  0.0978  0.0978
3   0.0283  0.0283  0.0283  0.0283
4   0.0844  0.0844  0.0844  0.0844
5   0.0589  0.0589  0.0589  0.0589
6   0.0540  0.0540  0.0540  0.0540
7   0.0687  0.0687  0.0687  0.0687
8   0.0320  0.0320  0.0320  0.0320
9   0.1210  0.1210  0.1210  0.1210
10  0.1118  0.1118  0.1118  0.1118

Coefficient 4 : PolynomialKernelRidge 0.076 +/- 0.045
--------------------------------

Linear_SVR

,DRUG_ID,best_C0,best_epsilon0,mae_0,mse_0,best_C1,best_epsilon1,mae_1,mse_1,best_C2,best_epsilon2,mae_2,mse_2,best_C3,best_epsilon3,mae_3,mse_3
0,170,0.01,0.001,0.019033,0.000580,0.01,0.001,0.019033,0.000580,0.01,0.001,0.019033,0.000580,0.01,0.001,0.019033,0.000580
1,173,0.01,0.010,0.181720,0.089980,0.01,0.010,0.181720,0.089980,0.01,0.010,0.181720,0.089980,0.01,0.010,0.181720,0.089980
2,180,0.01,0.010,0.123107,0.023574,0.01,0.010,0.123107,0.023574,0.01,0.010,0.123107,0.023574,0.01,0.010,0.123107,0.023574
3,200,0.01,0.010,0.038964,0.002373,0.01,0.010,0.038964,0.002373,0.01,0.010,0.038964,0.002373,0.01,0.010,0.038964,0.002373
4,219,0.01,1.000,0.087949,0.010995,0.01,1.000,0.087949,0.010995,0.01,1.000,0.087949,0.010995,0.01,1.000,0.087949,0.010995
5,272,0.01,0.001,0.078086,0.011827,0.01,0.001,0.078086,0.011827,0.01,0.001,0.078086,0.011827,0.01,0.001,0.078086,0.011827
6,273,0.01,0.001,0.049229,0.005743,0.01,0.001,0.049229,0.005743,0.01,0.001,0.049229,0.005743,0.01,0.001,0.049229,0.005743
7,274,0.01,0.010,0.079495,0.011370,0.01,0.010,0.079495,0.011370,0.01,0.010,0.079495,0.011370,0.01,0.010,0.079495,0.011370
8,276,0.01,1.000,0.032851,0.001798,0.01,1.000,0.032851,0.001798,0.01,1.000,0.032851,0.001798,0.01,1.000,0.032851,0.001798
9,328,0.01,0.001,0.122108,0.019903,0.01,0.001,0.122108,0.019903,0.01,0.001,0.122108,0.019903,0.01,0.001,0.122108,0.019903
10,346,0.01,0.100,0.118785,0.019761,0.01,0.100,0.118785,0.019761,0.01,0.100,0.118785,0.019761,0.01,0.100,0.118785,0.019761

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.0190  0.0190  0.0190  0.0190
1   0.1817  0.1817  0.1817  0.1817
2   0.1231  0.1231  0.1231  0.1231
3   0.0390  0.0390  0.0390  0.0390
4   0.0879  0.0879  0.0879  0.0879
5   0.0781  0.0781  0.0781  0.0781
6   0.0492  0.0492  0.0492  0.0492
7   0.0795  0.0795  0.0795  0.0795
8   0.0329  0.0329  0.0329  0.0329
9   0.1221  0.1221  0.1221  0.1221
10  0.1188  0.1188  0.1188  0.1188

Coefficient 4 : Linear_SVR 0.085 +/- 0.049
--------------------------------

Sigmoid_SVR

,DRUG_ID,best_C0,best_epsilon0,best_coef00,mae_0,mse_0,best_C1,best_epsilon1,best_coef01,mae_1,...,best_C2,best_epsilon2,best_coef02,mae_2,mse_2,best_C3,best_epsilon3,best_coef03,mae_3,mse_3
0,170,0.1,0.001,1.00,0.017098,0.000508,0.1,0.001,1.00,0.016905,...,0.1,0.001,1.00,0.016974,0.000501,0.1,0.001,1.00,0.016941,0.000500
1,173,1.0,0.001,1.00,0.202313,0.100921,1.0,0.001,1.00,0.201997,...,1.0,0.001,1.00,0.202259,0.100870,1.0,0.001,1.00,0.201985,0.100743
2,180,1.0,0.010,0.50,0.150058,0.041300,1.0,0.010,0.50,0.149857,...,1.0,0.010,0.50,0.150087,0.041304,1.0,0.010,0.50,0.149816,0.041187
3,200,100.0,0.001,5.00,0.028146,0.001526,100.0,0.001,5.00,0.028144,...,100.0,0.001,5.00,0.028145,0.001526,100.0,0.001,5.00,0.028146,0.001526
4,219,0.1,1.000,0.01,0.087949,0.010995,0.1,1.000,0.01,0.087949,...,0.1,1.000,0.01,0.087949,0.010995,0.1,1.000,0.01,0.087949,0.010995
5,272,0.1,0.010,0.50,0.064040,0.009144,0.1,0.010,0.50,0.064028,...,0.1,0.010,0.50,0.064036,0.009145,0.1,0.010,0.50,0.064026,0.009145
6,273,500.0,0.010,5.00,0.052108,0.006873,100.0,0.001,5.00,0.052968,...,500.0,0.010,5.00,0.052070,0.006867,100.0,0.001,5.00,0.052917,0.007223
7,274,100.0,0.001,5.00,0.059080,0.008482,100.0,0.001,5.00,0.059086,...,100.0,0.001,5.00,0.059080,0.008481,100.0,0.001,5.00,0.059088,0.008481
8,276,1.0,0.001,5.00,0.031355,0.001779,1.0,0.001,5.00,0.031355,...,1.0,0.001,5.00,0.031355,0.001779,0.5,0.001,1.00,0.040238,0.002189
9,328,0.5,0.100,0.01,0.114779,0.018937,0.5,0.100,0.50,0.111224,...,0.5,0.100,0.50,0.111440,0.018611,0.5,0.100,0.01,0.114676,0.018896
10,346,0.1,0.001,0.50,0.108603,0.018142,0.1,0.001,0.50,0.108628,...,0.1,0.001,0.50,0.108606,0.018141,0.1,0.001,0.50,0.108630,0.018137

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.0171  0.0169  0.0170  0.0169
1   0.2023  0.2020  0.2023  0.2020
2   0.1501  0.1499  0.1501  0.1498
3   0.0281  0.0281  0.0281  0.0281
4   0.0879  0.0879  0.0879  0.0879
5   0.0640  0.0640  0.0640  0.0640
6   0.0521  0.0530  0.0521  0.0529
7   0.0591  0.0591  0.0591  0.0591
8   0.0314  0.0314  0.0314  0.0402
9   0.1148  0.1112  0.1114  0.1147
10  0.1086  0.1086  0.1086  0.1086

Coefficient 4 : Sigmoid_SVR 0.084 +/- 0.056
--------------------------------

RBF_SVR

,DRUG_ID,best_C0,best_epsilon0,best_coef00,mae_0,mse_0,best_C1,best_epsilon1,best_coef01,mae_1,...,best_C2,best_epsilon2,best_coef02,mae_2,mse_2,best_C3,best_epsilon3,best_coef03,mae_3,mse_3
0,170,0.1,0.001,0.01,0.012975,0.000329,0.1,0.001,0.01,0.012987,...,0.1,0.001,0.01,0.012976,0.000329,0.1,0.001,0.01,0.012963,0.000330
1,173,0.1,0.001,0.01,0.175902,0.089001,0.1,0.001,0.01,0.175919,...,0.1,0.001,0.01,0.175902,0.089001,0.1,0.001,0.01,0.175919,0.089000
2,180,0.1,0.010,0.01,0.101163,0.015867,0.1,0.010,0.01,0.101156,...,0.1,0.010,0.01,0.101161,0.015868,0.1,0.010,0.01,0.101156,0.015869
3,200,0.1,0.001,0.01,0.028847,0.001609,0.1,0.001,0.01,0.028869,...,0.1,0.001,0.01,0.028857,0.001610,0.1,0.001,0.01,0.028874,0.001611
4,219,0.1,1.000,0.01,0.087949,0.010995,0.1,1.000,0.01,0.087949,...,0.1,1.000,0.01,0.087949,0.010995,0.1,1.000,0.01,0.087949,0.010995
5,272,0.1,0.001,0.01,0.063850,0.009185,0.1,0.001,0.01,0.063821,...,0.1,0.001,0.01,0.063853,0.009186,0.1,0.001,0.01,0.063830,0.009189
6,273,0.1,0.001,0.01,0.050875,0.006889,0.1,0.001,0.01,0.050866,...,0.1,0.001,0.01,0.050872,0.006888,0.1,0.001,0.01,0.050866,0.006878
7,274,0.1,0.001,0.01,0.055206,0.007556,0.1,0.001,0.01,0.055225,...,0.1,0.001,0.01,0.055221,0.007555,0.1,0.001,0.01,0.055225,0.007561
8,276,0.1,0.001,0.01,0.034670,0.001850,0.1,0.001,0.01,0.034640,...,0.1,0.001,0.01,0.034659,0.001850,0.1,0.001,0.01,0.034641,0.001851
9,328,1.0,0.100,0.01,0.103240,0.014010,1.0,0.100,0.01,0.103258,...,1.0,0.100,0.01,0.103241,0.014010,1.0,0.100,0.01,0.103255,0.014013
10,346,0.1,0.100,0.01,0.115413,0.017775,0.1,0.100,0.01,0.115402,...,0.1,0.100,0.01,0.115417,0.017775,0.1,0.100,0.01,0.115402,0.017771

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.0130  0.0130  0.0130  0.0130
1   0.1759  0.1759  0.1759  0.1759
2   0.1012  0.1012  0.1012  0.1012
3   0.0288  0.0289  0.0289  0.0289
4   0.0879  0.0879  0.0879  0.0879
5   0.0638  0.0638  0.0639  0.0638
6   0.0509  0.0509  0.0509  0.0509
7   0.0552  0.0552  0.0552  0.0552
8   0.0347  0.0346  0.0347  0.0346
9   0.1032  0.1033  0.1032  0.1033
10  0.1154  0.1154  0.1154  0.1154

Coefficient 4 : RBF_SVR 0.075 +/- 0.047
--------------------------------

Polynomial_SVR

,DRUG_ID,best_C0,best_epsilon0,best_coef00,best_degree0,mae_0,mse_0,best_C1,best_epsilon1,best_coef01,...,best_coef02,best_degree2,mae_2,mse_2,best_C3,best_epsilon3,best_coef03,best_degree3,mae_3,mse_3
0,170,0.1,0.001,0.01,3.0,0.014212,0.000353,0.1,0.001,0.01,...,0.01,3.0,0.014194,0.000353,0.1,0.001,0.01,3.0,0.014184,0.000353
1,173,5.0,0.001,0.01,4.0,0.166018,0.084835,5.0,0.001,0.01,...,0.01,4.0,0.166021,0.084836,5.0,0.001,0.01,4.0,0.166107,0.084879
2,180,0.1,0.001,0.01,3.0,0.097669,0.015557,0.1,0.001,0.01,...,0.01,3.0,0.097650,0.015554,0.1,0.001,0.01,3.0,0.097576,0.015545
3,200,0.1,0.010,0.01,5.0,0.030625,0.001760,0.1,0.010,0.01,...,0.01,5.0,0.030624,0.001757,0.1,0.010,0.01,5.0,0.030600,0.001760
4,219,0.1,1.000,0.01,1.0,0.087949,0.010995,0.1,1.000,0.01,...,0.01,1.0,0.087949,0.010995,0.1,1.000,0.01,1.0,0.087949,0.010995
5,272,0.1,0.001,5.00,1.0,0.068051,0.010055,0.1,0.001,1.00,...,0.50,1.0,0.068089,0.010060,0.1,0.001,5.00,1.0,0.068029,0.010040
6,273,0.1,0.010,0.01,5.0,0.053505,0.007426,0.1,0.010,0.01,...,0.01,5.0,0.053525,0.007430,0.1,0.010,0.01,5.0,0.053565,0.007434
7,274,5.0,0.001,0.01,5.0,0.076645,0.011236,5.0,0.001,0.01,...,0.01,5.0,0.076689,0.011244,5.0,0.001,0.01,5.0,0.076636,0.011233
8,276,0.1,0.010,0.01,5.0,0.031910,0.001785,0.1,0.010,0.01,...,0.01,5.0,0.031907,0.001785,0.1,0.010,0.01,5.0,0.031903,0.001785
9,328,0.5,0.001,5.00,1.0,0.124842,0.020702,0.5,0.001,0.10,...,0.10,1.0,0.124805,0.020683,0.5,0.001,0.10,1.0,0.124601,0.020632
10,346,10.0,0.001,0.01,5.0,0.109460,0.020830,10.0,0.001,0.01,...,0.01,5.0,0.109456,0.020817,10.0,0.001,0.01,5.0,0.109463,0.020819

MAE among datasets:

     mae_0   mae_1   mae_2   mae_3
0   0.0142  0.0142  0.0142  0.0142
1   0.1660  0.1661  0.1660  0.1661
2   0.0977  0.0976  0.0977  0.0976
3   0.0306  0.0306  0.0306  0.0306
4   0.0879  0.0879  0.0879  0.0879
5   0.0681  0.0681  0.0681  0.0680
6   0.0535  0.0535  0.0535  0.0536
7   0.0766  0.0766  0.0767  0.0766
8   0.0319  0.0319  0.0319  0.0319
9   0.1248  0.1246  0.1248  0.1246
10  0.1095  0.1095  0.1095  0.1095

Coefficient 4 : Polynomial_SVR 0.078 +/- 0.045
--------------------------------